read_csv_file

In [0]:
/FileStore/tables/2010_summary.csv

In [0]:
spark

In [0]:
flight_df=spark.read.format("csv")\
    .option("header","false")\
        .option("inferSchema","false")\
            .option("mode","FAILFAST")\
                .load("/FileStore/tables/2010_summary.csv")

flight_df.show()

+--------------------+-------------------+-----+
|                 _c0|                _c1|  _c2|
+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
+--------------------+-------------------+-----+
only showing top 20 rows

In [0]:
flight_df_header=spark.read.format("csv")\
    .option("header","true")\
        .option("inferSchema","false")\
            .option("mode","FAILFAST")\
                .load("/FileStore/tables/2010_summary.csv")

flight_df_header.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [0]:
flight_df_header.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: string (nullable = true)

In [0]:
flight_df_header_schema=spark.read.format("csv")\
    .option("header","true")\
        .option("inferSchema","true")\
            .option("mode","FAILFAST")\
                .load("/FileStore/tables/2010_summary.csv")

flight_df_header_schema.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
flight_df_header_schema.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

Schema in Spark

In [0]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [0]:
my_schema= StructType([
            StructField("DEST_COUNTRY_NAME", StringType(), True),
            StructField("ORIGIN_COUNTRY_NAME", StringType(), True),
            StructField("count", IntegerType(), True)
])

In [0]:
flight_df=spark.read.format("csv")\
    .option("header","false")\
        .option("inferSchema","false")\
          .schema(my_schema)\
            .option("mode","FAILFAST")\
                .load("/FileStore/tables/2010_summary.csv")

flight_df.show(5)

---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
File <command-3480508081326128>:8
      1 flight_df=spark.read.format("csv")\
      2     .option("header","false")\
      3         .option("inferSchema","false")\
      4           .schema(my_schema)\
      5             .option("mode","FAILFAST")\
      6                 .load("/FileStore/tables/2010_summary.csv")
----> 8 flight_df.show(5)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:920, in DataFrame.show(self, n, truncate, vertical)
    914     raise PySparkTypeError(
    915         error_class="NOT_A_BOOLEAN",
    916         message_parameters={"arg_name": "vertical", "arg_type": type(vertical).__name__},
    917     )
    919 if isinstance(truncate, bool) and truncate:
--> 920     print(self._jdf.showString(n, 20, vertical))
    921 else:
    922     try:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:228, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 def deco(*a: Any, **kw: Any) -> Any:
    227     try:
--> 228         return f(*a, **kw)
    229     except Py4JJavaError as e:
    230         converted = convert_exception(e.java_exception)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/protocol.py:326, in get_return_value(answer, gateway_client, target_id, name)
    324 value = OUTPUT_CONVERTER[type](answer[2:], gateway_client)
    325 if answer[1] == REFERENCE_TYPE:
--> 326     raise Py4JJavaError(
    327         "An error occurred while calling {0}{1}{2}.\n".
    328         format(target_id, ".", name), value)
    329 else:
    330     raise Py4JError(
    331         "An error occurred while calling {0}{1}{2}. Trace:\n{3}\n".
    332         format(target_id, ".", name, value))

Py4JJavaError: An error occurred while calling o487.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0) (ip-10-172-185-70.us-west-2.compute.internal executor driver): com.databricks.sql.io.FileReadException: Error while reading file dbfs:/FileStore/tables/2010_summary.csv.
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1$$anon$2.logFileNameAndThrow(FileScanRDD.scala:701)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1$$anon$2.getNext(FileScanRDD.scala:670)
	at org.apache.spark.util.NextIterator.hasNext(NextIterator.scala:73)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:793)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.$anonfun$hasNext$1(FileScanRDD.scala:493)
	at scala.runtime.java8.JFunction0$mcZ$sp.apply(JFunction0$mcZ$sp.java:23)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:483)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:761)
	at org.apache.spark.sql.execution.collect.UnsafeRowBatchUtils$.encodeUnsafeRows(UnsafeRowBatchUtils.scala:82)
	at org.apache.spark.sql.execution.collect.Collector.$anonfun$processFunc$1(Collector.scala:208)
	at org.apache.spark.scheduler.ResultTask.$anonfun$runTask$3(ResultTask.scala:75)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ResultTask.$anonfun$runTask$1(ResultTask.scala:75)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:55)
	at org.apache.spark.scheduler.Task.doRunTask(Task.scala:179)
	at org.apache.spark.scheduler.Task.$anonfun$run$5(Task.scala:142)
	at com.databricks.unity.EmptyHandle$.runWithAndClose(UCSHandle.scala:126)
	at org.apache.spark.scheduler.Task.$anonfun$run$1(Task.scala:142)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.Task.run(Task.scala:97)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$13(Executor.scala:904)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1741)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:907)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:761)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.spark.SparkException: Malformed records are detected in record parsing. Parse Mode: FAILFAST. To process malformed records as null result, try setting the option 'mode' as 'PERMISSIVE'.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedRecordsDetectedInRecordParsingError(QueryExecutionErrors.scala:1936)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:103)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$2(UnivocityParser.scala:507)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at org.apache.spark.util.CompletionIterator.hasNext(CompletionIterator.scala:31)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1$$anon$2.getNext(FileScanRDD.scala:616)
	... 32 more
Caused by: org.apache.spark.sql.catalyst.util.BadRecordException: java.lang.NumberFormatException: For input string: "count"
Caused by: java.lang.NumberFormatException: For input string: "count"
	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
	at java.lang.Integer.parseInt(Integer.java:580)
	at java.lang.Integer.parseInt(Integer.java:615)
	at scala.collection.immutable.StringLike.toInt(StringLike.scala:304)
	at scala.collection.immutable.StringLike.toInt$(StringLike.scala:304)
	at scala.collection.immutable.StringOps.toInt(StringOps.scala:33)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$6(UnivocityParser.scala:202)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$6$adapted(UnivocityParser.scala:202)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.nullSafeDatum(UnivocityParser.scala:305)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$5(UnivocityParser.scala:202)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.convert(UnivocityParser.scala:360)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$parse$2(UnivocityParser.scala:321)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$1(UnivocityParser.scala:499)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:92)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$2(UnivocityParser.scala:507)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at org.apache.spark.util.CompletionIterator.hasNext(CompletionIterator.scala:31)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1$$anon$2.getNext(FileScanRDD.scala:616)
	at org.apache.spark.util.NextIterator.hasNext(NextIterator.scala:73)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:793)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.$anonfun$hasNext$1(FileScanRDD.scala:493)
	at scala.runtime.java8.JFunction0$mcZ$sp.apply(JFunction0$mcZ$sp.java:23)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:483)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:761)
	at org.apache.spark.sql.execution.collect.UnsafeRowBatchUtils$.encodeUnsafeRows(UnsafeRowBatchUtils.scala:82)
	at org.apache.spark.sql.execution.collect.Collector.$anonfun$processFunc$1(Collector.scala:208)
	at org.apache.spark.scheduler.ResultTask.$anonfun$runTask$3(ResultTask.scala:75)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ResultTask.$anonfun$runTask$1(ResultTask.scala:75)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:55)
	at org.apache.spark.scheduler.Task.doRunTask(Task.scala:179)
	at org.apache.spark.scheduler.Task.$anonfun$run$5(Task.scala:142)
	at com.databricks.unity.EmptyHandle$.runWithAndClose(UCSHandle.scala:126)
	at org.apache.spark.scheduler.Task.$anonfun$run$1(Task.scala:142)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.Task.run(Task.scala:97)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$13(Executor.scala:904)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1741)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:907)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:761)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:3440)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:3362)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:3351)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:3351)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1460)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1460)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1460)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3651)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3589)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3577)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:51)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$runJob$1(DAGScheduler.scala:1209)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:80)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:1197)
	at org.apache.spark.SparkContext.runJobInternal(SparkContext.scala:2758)
	at org.apache.spark.sql.execution.collect.Collector.$anonfun$runSparkJobs$1(Collector.scala:349)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:80)
	at org.apache.spark.sql.execution.collect.Collector.runSparkJobs(Collector.scala:293)
	at org.apache.spark.sql.execution.collect.Collector.collect(Collector.scala:377)
	at org.apache.spark.sql.execution.collect.Collector$.collect(Collector.scala:128)
	at org.apache.spark.sql.execution.collect.Collector$.collect(Collector.scala:135)
	at org.apache.spark.sql.execution.qrc.InternalRowFormat$.collect(cachedSparkResults.scala:122)
	at org.apache.spark.sql.execution.qrc.InternalRowFormat$.collect(cachedSparkResults.scala:110)
	at org.apache.spark.sql.execution.qrc.InternalRowFormat$.collect(cachedSparkResults.scala:92)
	at org.apache.spark.sql.execution.qrc.ResultCacheManager.$anonfun$computeResult$1(ResultCacheManager.scala:537)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:80)
	at org.apache.spark.sql.execution.qrc.ResultCacheManager.collectResult$1(ResultCacheManager.scala:529)
	at org.apache.spark.sql.execution.qrc.ResultCacheManager.computeResult(ResultCacheManager.scala:549)
	at org.apache.spark.sql.execution.qrc.ResultCacheManager.$anonfun$getOrComputeResultInternal$1(ResultCacheManager.scala:402)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.execution.qrc.ResultCacheManager.getOrComputeResultInternal(ResultCacheManager.scala:395)
	at org.apache.spark.sql.execution.qrc.ResultCacheManager.getOrComputeResult(ResultCacheManager.scala:289)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeCollectResult$1(SparkPlan.scala:506)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:80)
	at org.apache.spark.sql.execution.SparkPlan.executeCollectResult(SparkPlan.scala:503)
	at org.apache.spark.sql.Dataset.collectResult(Dataset.scala:3458)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4382)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3168)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$3(Dataset.scala:4373)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:841)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4371)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withCustomExecutionEnv$9(SQLExecution.scala:258)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:448)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withCustomExecutionEnv$1(SQLExecution.scala:203)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:1073)
	at org.apache.spark.sql.execution.SQLExecution$.withCustomExecutionEnv(SQLExecution.scala:131)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:398)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4371)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3168)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3389)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:315)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:354)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:380)
	at py4j.Gateway.invoke(Gateway.java:306)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:195)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:115)
	at java.lang.Thread.run(Thread.java:750)
Caused by: com.databricks.sql.io.FileReadException: Error while reading file dbfs:/FileStore/tables/2010_summary.csv.
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1$$anon$2.logFileNameAndThrow(FileScanRDD.scala:701)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1$$anon$2.getNext(FileScanRDD.scala:670)
	at org.apache.spark.util.NextIterator.hasNext(NextIterator.scala:73)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:793)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.$anonfun$hasNext$1(FileScanRDD.scala:493)
	at scala.runtime.java8.JFunction0$mcZ$sp.apply(JFunction0$mcZ$sp.java:23)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:483)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:761)
	at org.apache.spark.sql.execution.collect.UnsafeRowBatchUtils$.encodeUnsafeRows(UnsafeRowBatchUtils.scala:82)
	at org.apache.spark.sql.execution.collect.Collector.$anonfun$processFunc$1(Collector.scala:208)
	at org.apache.spark.scheduler.ResultTask.$anonfun$runTask$3(ResultTask.scala:75)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ResultTask.$anonfun$runTask$1(ResultTask.scala:75)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:55)
	at org.apache.spark.scheduler.Task.doRunTask(Task.scala:179)
	at org.apache.spark.scheduler.Task.$anonfun$run$5(Task.scala:142)
	at com.databricks.unity.EmptyHandle$.runWithAndClose(UCSHandle.scala:126)
	at org.apache.spark.scheduler.Task.$anonfun$run$1(Task.scala:142)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.Task.run(Task.scala:97)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$13(Executor.scala:904)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1741)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:907)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)

In [0]:
flight_df=spark.read.format("csv")\
    .option("header","false")\
        .option("inferSchema","false")\
          .schema(my_schema)\
            .option("mode","PERMISSIVE")\
                .load("/FileStore/tables/2010_summary.csv")

flight_df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| null|
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
flight_df=spark.read.format("csv")\
    .option("header","false")\
        .option("skipRows",1)\
        .option("inferSchema","false")\
          .schema(my_schema)\
            .option("mode","PERMISSIVE")\
                .load("/FileStore/tables/2010_summary.csv")

flight_df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

Handling Corrupted Record

In [0]:
 /FileStore/tables/employee.csv

In [0]:
employee_df=spark.read.format("csv")\
    .option("header","true")\
        .option("inferSchema","true")\
            .option("mode","PERMISSIVE")\
                .load("/FileStore/tables/employee.csv")

employee_df.show(5)

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [0]:
employee_df=spark.read.format("csv")\
    .option("header","true")\
        .option("inferSchema","true")\
            .option("mode","DROPMALFORMED")\
                .load("/FileStore/tables/employee.csv")

employee_df.show(5)

+---+------+---+------+------------+--------+
| id|  name|age|salary|     address| nominee|
+---+------+---+------+------------+--------+
|  1|Manish| 26| 75000|       bihar|nominee1|
|  2|Nikita| 23|100000|uttarpradesh|nominee2|
|  5|Vikash| 31|300000|        null|nominee5|
+---+------+---+------+------------+--------+

In [0]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [0]:
emp_schema= StructType([
            StructField("id", IntegerType(), True),
            StructField("name", StringType(), True),
            StructField("age", IntegerType(), True),
            StructField("salary", IntegerType(), True),
            StructField("address", StringType(), True),
            StructField("nominee", StringType(), True),
            StructField("_corrupt_record", StringType(), True)
])

In [0]:
employee_df=spark.read.format("csv")\
    .option("header","true")\
        .option("inferSchema","true")\
            .option("mode","PERMISSIVE")\
                .schema(emp_schema)\
                .load("/FileStore/tables/employee.csv")

employee_df.show(truncate = False)

+---+--------+---+------+------------+--------+-------------------------------------------+
|id |name    |age|salary|address     |nominee |_corrupt_record                            |
+---+--------+---+------+------------+--------+-------------------------------------------+
|1  |Manish  |26 |75000 |bihar       |nominee1|null                                       |
|2  |Nikita  |23 |100000|uttarpradesh|nominee2|null                                       |
|3  |Pritam  |22 |150000|Bangalore   |India   |3,Pritam,22,150000,Bangalore,India,nominee3|
|4  |Prantosh|17 |200000|Kolkata     |India   |4,Prantosh,17,200000,Kolkata,India,nominee4|
|5  |Vikash  |31 |300000|null        |nominee5|null                                       |
+---+--------+---+------+------------+--------+-------------------------------------------+

In [0]:
%fs
ls /FileStore/tables/

path,name,size,modificationTime
dbfs:/FileStore/tables/2010_summary.csv,2010_summary.csv,7121,1734530986000
dbfs:/FileStore/tables/StudentData.csv,StudentData.csv,75701,1656587787000
dbfs:/FileStore/tables/distinct.txt,distinct.txt,900,1656580239000
dbfs:/FileStore/tables/employee.csv,employee.csv,230,1734622538000
dbfs:/FileStore/tables/filter.txt,filter.txt,45,1656579325000
dbfs:/FileStore/tables/groupreduce.txt,groupreduce.txt,3226646,1656582669000
dbfs:/FileStore/tables/numbers.txt,numbers.txt,29,1656409579000

In [0]:
employee_df=spark.read.format("csv")\
    .option("header","true")\
        .option("inferSchema","true")\
                .schema(emp_schema)\
                    .option("badRecordsPath","/FileStore/tables/bad_records")\
                .load("/FileStore/tables/employee.csv")

employee_df.show(truncate = False)

+---+------+---+------+------------+--------+---------------+
|id |name  |age|salary|address     |nominee |_corrupt_record|
+---+------+---+------+------------+--------+---------------+
|1  |Manish|26 |75000 |bihar       |nominee1|null           |
|2  |Nikita|23 |100000|uttarpradesh|nominee2|null           |
|5  |Vikash|31 |300000|null        |nominee5|null           |
+---+------+---+------+------------+--------+---------------+

In [0]:
%fs
ls /FileStore/tables/

path,name,size,modificationTime
dbfs:/FileStore/tables/2010_summary.csv,2010_summary.csv,7121,1734530986000
dbfs:/FileStore/tables/StudentData.csv,StudentData.csv,75701,1656587787000
dbfs:/FileStore/tables/bad_records/,bad_records/,0,0
dbfs:/FileStore/tables/distinct.txt,distinct.txt,900,1656580239000
dbfs:/FileStore/tables/employee.csv,employee.csv,230,1734622538000
dbfs:/FileStore/tables/filter.txt,filter.txt,45,1656579325000
dbfs:/FileStore/tables/groupreduce.txt,groupreduce.txt,3226646,1656582669000
dbfs:/FileStore/tables/numbers.txt,numbers.txt,29,1656409579000

In [0]:
%fs
ls /FileStore/tables/bad_records/20241219T155908/bad_records/

path,name,size,modificationTime
dbfs:/FileStore/tables/bad_records/20241219T155908/bad_records/part-00000-997be771-6ddf-46ec-b3b6-364f603eec20,part-00000-997be771-6ddf-46ec-b3b6-364f603eec20,484,1734623949000

In [0]:
bad_data_df= spark.read.format('json')\
    .load('/FileStore/tables/bad_records/20241219T155908/bad_records/')

bad_data_df.show(truncate = False)

+-----------------------------------+--------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------+
|path                               |reason                                                                                                                          |record                                     |
+-----------------------------------+--------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------+
|dbfs:/FileStore/tables/employee.csv|org.apache.spark.SparkRuntimeException: [MALFORMED_CSV_RECORD] Malformed CSV record: 3,Pritam,22,150000,Bangalore,India,nominee3|3,Pritam,22,150000,Bangalore,India,nominee3|
|dbfs:/FileStore/tables/employee.csv|org.apache.spark.SparkRuntimeException: [MALFORMED_CSV_RECORD] Malformed CSV record: 4,Prantosh,17,200000,Kolkata,India,nominee4|4,Prantosh,17,200000,Kolkata,India,nominee4|
+-----------------------------------+--------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------+

Read JSON File

In [0]:
File uploaded to /FileStore/tables/corrupted_json.json
File uploaded to /FileStore/tables/line_delimited_json.json
File uploaded to /FileStore/tables/Multi_line_correct.json
File uploaded to /FileStore/tables/Multi_line_incorrect.json
File uploaded to /FileStore/tables/single_file_json_with_extra_fields.json

In [0]:
spark.read.format('json')\
    .option('inferschema','true')\
        .option('mode','PERMISSIVE')\
            .load('/FileStore/tables/line_delimited_json.json').show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [0]:
spark

In [0]:
spark.read.format('json')\
    .option('inferschema','true')\
        .option('mode','PERMISSIVE')\
            .load('/FileStore/tables/single_file_json_with_extra_fields.json').show()

+---+------+--------+------+
|age|gender|    name|salary|
+---+------+--------+------+
| 20|  null|  Manish| 20000|
| 25|  null|  Nikita| 21000|
| 16|  null|  Pritam| 22000|
| 35|  null|Prantosh| 25000|
| 67|     M|  Vikash| 40000|
+---+------+--------+------+

In [0]:
spark.read.format('json')\
    .option('inferschema','true')\
        .option('mode','PERMISSIVE')\
            .option('multiline','true')\
            .load('/FileStore/tables/Multi_line_correct.json').show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [0]:
spark.read.format('json')\
    .option('inferschema','true')\
        .option('mode','PERMISSIVE')\
            .option('multiline','true')\
            .load('/FileStore/tables/Multi_line_incorrect.json').show()

+---+------+------+
|age|  name|salary|
+---+------+------+
| 20|Manish| 20000|
+---+------+------+

In [0]:
spark.read.format('json')\
    .option('inferschema','true')\
        .option('mode','PERMISSIVE')\
            .load('/FileStore/tables/corrupted_json.json').show(truncate = False)

+----------------------------------------+----+--------+------+
|_corrupt_record                         |age |name    |salary|
+----------------------------------------+----+--------+------+
|null                                    |20  |Manish  |20000 |
|null                                    |25  |Nikita  |21000 |
|null                                    |16  |Pritam  |22000 |
|null                                    |35  |Prantosh|25000 |
|{"name":"Vikash","age":67,"salary":40000|null|null    |null  |
+----------------------------------------+----+--------+------+

Parquet file

In [0]:
File uploaded to /FileStore/tables/part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz.parquet

In [0]:
df = spark.read.parquet('/FileStore/tables/part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz.parquet').show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

Write data  /FileStore/tables/person.csv

In [0]:
df=spark.read.format('csv')\
  .option('header','true')\
    .option('inferschema','true')\
      .load('/FileStore/tables/employees.csv')

In [0]:
df.show()

+---+----------+--------+--------+----------+-----------+
| id|      name|     age|  salary|   address|     gender|
+---+----------+--------+--------+----------+-----------+
|  1|    Manish|    26.0| 75000.0|     INDIA|          m|
|  2|    Nikita|    23.0|100000.0|       USA|          f|
|  3|    Pritam|    22.0|150000.0|     INDIA|          m|
|  4|  Prantosh|    17.0|200000.0|     JAPAN|          m|
|  5|    Vikash|    31.0|300000.0|       USA|          m|
|  6|     Rahul|    55.0|300000.0|     INDIA|          m|
|  7|      Raju|    67.0|540000.0|       USA|          m|
|  8|   Praveen|    28.0| 70000.0|     JAPAN|          m|
|  9|       Dev|    32.0|150000.0|     JAPAN|          m|
| 10|    Sherin|    16.0| 25000.0|    RUSSIA|          f|
| 11|      Ragu|    12.0| 35000.0|     INDIA|          f|
| 12|     Sweta|    43.0|200000.0|     INDIA|          f|
| 13|   Raushan|    48.0|650000.0|       USA|          m|
| 14|    Mukesh|    36.0| 95000.0|    RUSSIA|          m|
| 15|   Prakash|    52.0|750000.0|     INDIA|          m|
+---+----------+--------+--------+----------+-----------+

In [0]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |--  name: string (nullable = true)
 |--      age: double (nullable = true)
 |--   salary: double (nullable = true)
 |--    address: string (nullable = true)
 |--     gender: string (nullable = true)

In [0]:
df.write.format('csv')\
  .option('header','true')\
    .option('mode','overwrite')\
      .option('path','/FileStore/tables/csv_write/')\
          .save()

In [0]:
dbutils.fs.ls('/FileStore/tables/csv_write/')

Out[4]: [FileInfo(path='dbfs:/FileStore/tables/csv_write/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1734881411000),
 FileInfo(path='dbfs:/FileStore/tables/csv_write/_committed_1530211572815462398', name='_committed_1530211572815462398', size=111, modificationTime=1734881411000),
 FileInfo(path='dbfs:/FileStore/tables/csv_write/_started_1530211572815462398', name='_started_1530211572815462398', size=0, modificationTime=1734881410000),
 FileInfo(path='dbfs:/FileStore/tables/csv_write/part-00000-tid-1530211572815462398-7483867c-4f7d-4d77-8a78-6abee8dca82e-3-1-c000.csv', name='part-00000-tid-1530211572815462398-7483867c-4f7d-4d77-8a78-6abee8dca82e-3-1-c000.csv', size=490, modificationTime=1734881410000)]

In [0]:
df.repartition(3).write.format('csv')\
  .option('header','true')\
    .option('mode','overwrite')\
      .option('path','/FileStore/tables/csv_write_repartition/')\
          .save()

In [0]:
dbutils.fs.ls('/FileStore/tables/csv_write_repartition/')

Out[6]: [FileInfo(path='dbfs:/FileStore/tables/csv_write_repartition/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1734881616000),
 FileInfo(path='dbfs:/FileStore/tables/csv_write_repartition/_committed_5507568321707987609', name='_committed_5507568321707987609', size=285, modificationTime=1734881616000),
 FileInfo(path='dbfs:/FileStore/tables/csv_write_repartition/_started_5507568321707987609', name='_started_5507568321707987609', size=0, modificationTime=1734881615000),
 FileInfo(path='dbfs:/FileStore/tables/csv_write_repartition/part-00000-tid-5507568321707987609-dbbbb398-b5b1-46f2-948c-28a6bb88ad67-5-1-c000.csv', name='part-00000-tid-5507568321707987609-dbbbb398-b5b1-46f2-948c-28a6bb88ad67-5-1-c000.csv', size=184, modificationTime=1734881616000),
 FileInfo(path='dbfs:/FileStore/tables/csv_write_repartition/part-00001-tid-5507568321707987609-dbbbb398-b5b1-46f2-948c-28a6bb88ad67-6-1-c000.csv', name='part-00001-tid-5507568321707987609-dbbbb398-b5b1-46f2-948c-28a6bb88ad67-6-1-c000.csv', size=184, modificationTime=1734881616000),
 FileInfo(path='dbfs:/FileStore/tables/csv_write_repartition/part-00002-tid-5507568321707987609-dbbbb398-b5b1-46f2-948c-28a6bb88ad67-7-1-c000.csv', name='part-00002-tid-5507568321707987609-dbbbb398-b5b1-46f2-948c-28a6bb88ad67-7-1-c000.csv', size=190, modificationTime=1734881616000)]

Partitioning and Bucketing

In [0]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- gender: string (nullable = true)

In [0]:
df.write.format('csv')\
  .option('header','true')\
    .option('mode','overwrite')\
      .option('path','/FileStore/tables/partitionBy_address/')\
       .partitionBy('address')\
          .save()

In [0]:
dbutils.fs.ls('/FileStore/tables/partitionBy_address/')

Out[15]: [FileInfo(path='dbfs:/FileStore/tables/partitionBy_address/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1734884098000),
 FileInfo(path='dbfs:/FileStore/tables/partitionBy_address/address=INDIA/', name='address=INDIA/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partitionBy_address/address=JAPAN/', name='address=JAPAN/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partitionBy_address/address=RUSSIA/', name='address=RUSSIA/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partitionBy_address/address=USA/', name='address=USA/', size=0, modificationTime=0)]

In [0]:
df.write.format('csv')\
  .option('header','true')\
    .option('mode','overwrite')\
      .option('path','/FileStore/tables/partitionBy_address_gender/')\
       .partitionBy('address','gender')\
          .save()

In [0]:
dbutils.fs.ls('/FileStore/tables/partitionBy_address_gender/')

Out[17]: [FileInfo(path='dbfs:/FileStore/tables/partitionBy_address_gender/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1734884734000),
 FileInfo(path='dbfs:/FileStore/tables/partitionBy_address_gender/address=INDIA/', name='address=INDIA/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partitionBy_address_gender/address=JAPAN/', name='address=JAPAN/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partitionBy_address_gender/address=RUSSIA/', name='address=RUSSIA/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partitionBy_address_gender/address=USA/', name='address=USA/', size=0, modificationTime=0)]

In [0]:
dbutils.fs.ls('dbfs:/FileStore/tables/partitionBy_address_gender/address=INDIA/')

Out[18]: [FileInfo(path='dbfs:/FileStore/tables/partitionBy_address_gender/address=INDIA/gender=f/', name='gender=f/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partitionBy_address_gender/address=INDIA/gender=m/', name='gender=m/', size=0, modificationTime=0)]

In [0]:
df.write.format('csv')\
  .option('header','true')\
    .option('mode','overwrite')\
      .option('path','/FileStore/tables/bucket_by_id/')\
       .bucketBy(3,'id')\
          .saveAsTable('bucket_by_id_table')

In [0]:
dbutils.fs.ls('/FileStore/tables/bucket_by_id/')

Out[22]: [FileInfo(path='dbfs:/FileStore/tables/bucket_by_id/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1734885355000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_by_id/_committed_6871011973106432807', name='_committed_6871011973106432807', size=306, modificationTime=1734885355000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_by_id/_started_6871011973106432807', name='_started_6871011973106432807', size=0, modificationTime=1734885354000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_by_id/part-00000-tid-6871011973106432807-a2caea16-0069-4cef-a54c-9f7e7364d24f-13-1_00000.c000.csv', name='part-00000-tid-6871011973106432807-a2caea16-0069-4cef-a54c-9f7e7364d24f-13-1_00000.c000.csv', size=270, modificationTime=1734885354000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_by_id/part-00000-tid-6871011973106432807-a2caea16-0069-4cef-a54c-9f7e7364d24f-13-2_00001.c000.csv', name='part-00000-tid-6871011973106432807-a2caea16-0069-4cef-a54c-9f7e7364d24f-13-2_00001.c000.csv', size=113, modificationTime=1734885355000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_by_id/part-00000-tid-6871011973106432807-a2caea16-0069-4cef-a54c-9f7e7364d24f-13-3_00002.c000.csv', name='part-00000-tid-6871011973106432807-a2caea16-0069-4cef-a54c-9f7e7364d24f-13-3_00002.c000.csv', size=115, modificationTime=1734885355000)]

Dataframe

In [0]:
my_data = [(1,1),(2,1),(3,1),(4,2),(5,1),(6,2),(7,2)]

In [0]:
my_schema = ['id','num']

In [0]:
my_df=spark.createDataFrame(data=my_data,schema=my_schema)

In [0]:
my_df.show()

+---+---+
| id|num|
+---+---+
|  1|  1|
|  2|  1|
|  3|  1|
|  4|  2|
|  5|  1|
|  6|  2|
|  7|  2|
+---+---+

Transformation

In [0]:
employee_df=spark.read.format("csv")\
    .option("header","true")\
        .option("inferSchema","true")\
            .option("mode","PERMISSIVE")\
                .load("/FileStore/tables/employee.csv")

employee_df.show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [0]:
employee_df.select('name').show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
+--------+

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

employee_df.select(col('name')).show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
+--------+

In [0]:
employee_df.select('id + 5').show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-849915643878402>:1
----> 1 employee_df.select('id + 5').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `id + 5` cannot be resolved. Did you mean one of the following? [`id`, `address`, `age`, `name`, `nominee`].;
'Project ['id + 5]
+- Relation [id#50,name#51,age#52,salary#53,address#54,nominee#55] csv

In [0]:
employee_df.select(col('id') + 5).show()

+--------+
|(id + 5)|
+--------+
|       6|
|       7|
|       8|
|       9|
|      10|
+--------+

In [0]:
employee_df.select('id','name','age').show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|  Manish| 26|
|  2|  Nikita| 23|
|  3|  Pritam| 22|
|  4|Prantosh| 17|
|  5|  Vikash| 31|
+---+--------+---+

In [0]:
employee_df.select(col('id'),col('name'),col('age')).show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|  Manish| 26|
|  2|  Nikita| 23|
|  3|  Pritam| 22|
|  4|Prantosh| 17|
|  5|  Vikash| 31|
+---+--------+---+

In [0]:
employee_df.select('id',col('name'),employee_df['salary'],employee_df.address).show()

+---+--------+------+------------+
| id|    name|salary|     address|
+---+--------+------+------------+
|  1|  Manish| 75000|       bihar|
|  2|  Nikita|100000|uttarpradesh|
|  3|  Pritam|150000|   Bangalore|
|  4|Prantosh|200000|     Kolkata|
|  5|  Vikash|300000|        null|
+---+--------+------+------------+

In [0]:
employee_df.select(expr('id + 5')).show()

+--------+
|(id + 5)|
+--------+
|       6|
|       7|
|       8|
|       9|
|      10|
+--------+

In [0]:
employee_df.select(expr('id as emp_id'),expr('name as emp_name'),expr('concat(name,address)')).show()

+------+--------+---------------------+
|emp_id|emp_name|concat(name, address)|
+------+--------+---------------------+
|     1|  Manish|          Manishbihar|
|     2|  Nikita|   Nikitauttarpradesh|
|     3|  Pritam|      PritamBangalore|
|     4|Prantosh|      PrantoshKolkata|
|     5|  Vikash|                 null|
+------+--------+---------------------+

In [0]:
employee_df.select(expr('id as emp_id'),expr('name as emp_name'),expr('concat(name,address,"@gmail.com") as email')).show(truncate=False)

+------+--------+----------------------------+
|emp_id|emp_name|email                       |
+------+--------+----------------------------+
|1     |Manish  |Manishbihar@gmail.com       |
|2     |Nikita  |Nikitauttarpradesh@gmail.com|
|3     |Pritam  |PritamBangalore@gmail.com   |
|4     |Prantosh|PrantoshKolkata@gmail.com   |
|5     |Vikash  |null                        |
+------+--------+----------------------------+

In [0]:
employee_df.createOrReplaceTempView('emp_tbl')

In [0]:
spark.sql(""" select * from emp_tbl """).show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [0]:
spark.sql(""" select id,name,age from emp_tbl """).show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|  Manish| 26|
|  2|  Nikita| 23|
|  3|  Pritam| 22|
|  4|Prantosh| 17|
|  5|  Vikash| 31|
+---+--------+---+

Transformation - 2

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

employee_df=spark.read.format("csv")\
    .option("header","true")\
        .option("inferSchema","true")\
            .option("mode","PERMISSIVE")\
                .load("/FileStore/tables/employee.csv")

employee_df.show()

employee_df.printSchema()

employee_df.createOrReplaceTempView('emp_tbl')

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
# Alias

employee_df.select(col('id').alias('emp_id'),'name','age').show()

+------+--------+---+
|emp_id|    name|age|
+------+--------+---+
|     1|  Manish| 26|
|     2|  Nikita| 23|
|     3|  Pritam| 22|
|     4|Prantosh| 17|
|     5|  Vikash| 31|
+------+--------+---+

In [0]:
# Filter

employee_df.filter(col('salary')>150000).show()

+---+--------+---+------+-------+--------+
| id|    name|age|salary|address| nominee|
+---+--------+---+------+-------+--------+
|  4|Prantosh| 17|200000|Kolkata|   India|
|  5|  Vikash| 31|300000|   null|nominee5|
+---+--------+---+------+-------+--------+

In [0]:
# Filter

employee_df.filter(col('salary')>150000 & col('age')<18).show()

---------------------------------------------------------------------------
Py4JError                                 Traceback (most recent call last)
File <command-4305431487598996>:3
      1 # Filter
----> 3 employee_df.filter(col('salary')>150000 & col('age')<18).show()

File /databricks/spark/python/pyspark/sql/column.py:164, in _bin_op.<locals>._(self, other)
    159 def _(
    160     self: "Column",
    161     other: Union["Column", "LiteralType", "DecimalLiteral", "DateTimeLiteral"],
    162 ) -> "Column":
    163     jc = other._jc if isinstance(other, Column) else other
--> 164     njc = getattr(self._jc, name)(jc)
    165     return Column(njc)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:228, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 def deco(*a: Any, **kw: Any) -> Any:
    227     try:
--> 228         return f(*a, **kw)
    229     except Py4JJavaError as e:
    230         converted = convert_exception(e.java_exception)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/protocol.py:330, in get_return_value(answer, gateway_client, target_id, name)
    326         raise Py4JJavaError(
    327             "An error occurred while calling {0}{1}{2}.\n".
    328             format(target_id, ".", name), value)
    329     else:
--> 330         raise Py4JError(
    331             "An error occurred while calling {0}{1}{2}. Trace:\n{3}\n".
    332             format(target_id, ".", name, value))
    333 else:
    334     raise Py4JError(
    335         "An error occurred while calling {0}{1}{2}".
    336         format(target_id, ".", name))

Py4JError: An error occurred while calling o553.and. Trace:
py4j.Py4JException: Method and([class java.lang.Integer]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:341)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:349)
	at py4j.Gateway.invoke(Gateway.java:297)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:195)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:115)
	at java.lang.Thread.run(Thread.java:750)

In [0]:
# Filter

employee_df.filter((col('salary')>150000) & (col('age')<18)).show()

+---+--------+---+------+-------+-------+
| id|    name|age|salary|address|nominee|
+---+--------+---+------+-------+-------+
|  4|Prantosh| 17|200000|Kolkata|  India|
+---+--------+---+------+-------+-------+

In [0]:
# Where
employee_df.where(col('salary')>150000).show()

+---+--------+---+------+-------+--------+
| id|    name|age|salary|address| nominee|
+---+--------+---+------+-------+--------+
|  4|Prantosh| 17|200000|Kolkata|   India|
|  5|  Vikash| 31|300000|   null|nominee5|
+---+--------+---+------+-------+--------+

In [0]:
# Literal

employee_df.select('*',lit('Kumar').alias('Last_name')).show()

+---+--------+---+------+------------+--------+---------+
| id|    name|age|salary|     address| nominee|Last_name|
+---+--------+---+------+------------+--------+---------+
|  1|  Manish| 26| 75000|       bihar|nominee1|    Kumar|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|    Kumar|
|  3|  Pritam| 22|150000|   Bangalore|   India|    Kumar|
|  4|Prantosh| 17|200000|     Kolkata|   India|    Kumar|
|  5|  Vikash| 31|300000|        null|nominee5|    Kumar|
+---+--------+---+------+------------+--------+---------+

In [0]:
# Add Column
employee_df.withColumn('surname',lit('Singh')).show()

+---+--------+---+------+------------+--------+-------+
| id|    name|age|salary|     address| nominee|surname|
+---+--------+---+------+------------+--------+-------+
|  1|  Manish| 26| 75000|       bihar|nominee1|  Singh|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|  Singh|
|  3|  Pritam| 22|150000|   Bangalore|   India|  Singh|
|  4|Prantosh| 17|200000|     Kolkata|   India|  Singh|
|  5|  Vikash| 31|300000|        null|nominee5|  Singh|
+---+--------+---+------+------------+--------+-------+

In [0]:
# Rename column

employee_df.withColumnRenamed('id','emp_id').show()

+------+--------+---+------+------------+--------+
|emp_id|    name|age|salary|     address| nominee|
+------+--------+---+------+------------+--------+
|     1|  Manish| 26| 75000|       bihar|nominee1|
|     2|  Nikita| 23|100000|uttarpradesh|nominee2|
|     3|  Pritam| 22|150000|   Bangalore|   India|
|     4|Prantosh| 17|200000|     Kolkata|   India|
|     5|  Vikash| 31|300000|        null|nominee5|
+------+--------+---+------+------------+--------+

In [0]:
# Casting

employee_df.printSchema()

employee_df.withColumn('id',col('id').cast('string')).printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
employee_df.withColumn('id',col('id').cast('string'))\
    .withColumn('salary',col('salary').cast('long'))\
    .printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: long (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
employee_df.drop('id',col('name')).show()

+---+------+------------+--------+
|age|salary|     address| nominee|
+---+------+------------+--------+
| 26| 75000|       bihar|nominee1|
| 23|100000|uttarpradesh|nominee2|
| 22|150000|   Bangalore|   India|
| 17|200000|     Kolkata|   India|
| 31|300000|        null|nominee5|
+---+------+------------+--------+

In [0]:
# Spark SQL

In [0]:
spark.sql(""" select * from emp_tbl where salary>150000 and age<18 """).show()

spark.sql(""" select *,'Kumar' as last_name from emp_tbl where salary>150000 and age<18 """).show()

spark.sql(""" select *,'Kumar' as last_name , concat(name,' ',last_name) as full_name from emp_tbl where salary>150000 and age<18 """).show()

spark.sql(""" select *,'Kumar' as last_name , concat(name,' ',last_name) as full_name, id as emp_id from emp_tbl where salary>150000 and age<18 """).show()

spark.sql(""" select *,'Kumar' as last_name , concat(name,' ',last_name) as full_name, cast(id as string) from emp_tbl where salary>150000 and age<18 """).printSchema()

+---+--------+---+------+-------+-------+
| id|    name|age|salary|address|nominee|
+---+--------+---+------+-------+-------+
|  4|Prantosh| 17|200000|Kolkata|  India|
+---+--------+---+------+-------+-------+

+---+--------+---+------+-------+-------+---------+
| id|    name|age|salary|address|nominee|last_name|
+---+--------+---+------+-------+-------+---------+
|  4|Prantosh| 17|200000|Kolkata|  India|    Kumar|
+---+--------+---+------+-------+-------+---------+

+---+--------+---+------+-------+-------+---------+--------------+
| id|    name|age|salary|address|nominee|last_name|     full_name|
+---+--------+---+------+-------+-------+---------+--------------+
|  4|Prantosh| 17|200000|Kolkata|  India|    Kumar|Prantosh Kumar|
+---+--------+---+------+-------+-------+---------+--------------+

+---+--------+---+------+-------+-------+---------+--------------+------+
| id|    name|age|salary|address|nominee|last_name|     full_name|emp_id|
+---+--------+---+------+-------+-------+---------+--------------+------+
|  4|Prantosh| 17|200000|Kolkata|  India|    Kumar|Prantosh Kumar|     4|
+---+--------+---+------+-------+-------+---------+--------------+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)
 |-- last_name: string (nullable = false)
 |-- full_name: string (nullable = true)
 |-- id: string (nullable = true)

Union

In [0]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

schema = ['id','Name','sal','mngr_id']

manager_df=spark.createDataFrame(data,schema)

In [0]:
manager_df.show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [0]:
manager_df.count()

Out[3]: 9

In [0]:
data1=[(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17),
(20 ,'Sima',75000,  17),(20 ,'Sima',75000,  17)]

schema1 = ['id','Name','sal','mngr_id']

manager_df1=spark.createDataFrame(data1,schema1)

In [0]:
manager_df1.show()

+---+-----+-----+-------+
| id| Name|  sal|mngr_id|
+---+-----+-----+-------+
| 19|Sohan|50000|     18|
| 20| Sima|75000|     17|
| 20| Sima|75000|     17|
| 20| Sima|75000|     17|
+---+-----+-----+-------+

In [0]:
manager_df.union(manager_df1).show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 19| Sohan|50000|     18|
| 20|  Sima|75000|     17|
| 20|  Sima|75000|     17|
| 20|  Sima|75000|     17|
+---+------+-----+-------+

In [0]:
manager_df.union(manager_df1).count()

Out[11]: 13

In [0]:
manager_df.unionAll(manager_df1).count() # No diff

Out[12]: 13

In [0]:
manager_df.createOrReplaceTempView('mngr_tbl')

manager_df1.createOrReplaceTempView('mngr_tbl1')

In [0]:
spark.sql(""" select * from mngr_tbl
          union
          select * from mngr_tbl1 """).count()

Out[15]: 11

In [0]:
spark.sql(""" select * from mngr_tbl
          union all
          select * from mngr_tbl1 """).count()

Out[17]: 13

In [0]:
spark.sql(""" select * from mngr_tbl1
          union 
          select * from mngr_tbl1 """).count()

Out[19]: 2

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_schema = ['id','sal','mngr_id','Name']

wrong_manager_df=spark.createDataFrame(wrong_column_data,wrong_schema)

In [0]:
manager_df1.union(wrong_manager_df).show()

+---+-----+-----+-------+
| id| Name|  sal|mngr_id|
+---+-----+-----+-------+
| 19|Sohan|50000|     18|
| 20| Sima|75000|     17|
| 20| Sima|75000|     17|
| 20| Sima|75000|     17|
| 19|50000|   18|  Sohan|
| 20|75000|   17|   Sima|
+---+-----+-----+-------+

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan',10),
(20 ,75000,  17,'Sima',20)]

wrong_schema = ['id','sal','mngr_id','Name','bonus']

wrong_manager_df=spark.createDataFrame(wrong_column_data,wrong_schema)

In [0]:
manager_df1.union(wrong_manager_df).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-4050835918467517>:1
----> 1 manager_df1.union(wrong_manager_df).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3646, in DataFrame.union(self, other)
   3598 def union(self, other: "DataFrame") -> "DataFrame":
   3599     """Return a new :class:`DataFrame` containing union of rows in this and another
   3600     :class:`DataFrame`.
   3601
   (...)
   3644     +----+----+----+
   3645     """
-> 3646     return DataFrame(self._jdf.union(other._jdf), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 4 columns and the second input has 5 columns.;
'Union false, false
:- LogicalRDD [id#383L, Name#384, sal#385L, mngr_id#386L], false
+- LogicalRDD [id#442L, sal#443L, mngr_id#444L, Name#445, bonus#446L], false

In [0]:
wrong_manager_df.select('id','sal','mngr_id','Name').union(manager_df1).show()

+---+-----+-------+-----+
| id|  sal|mngr_id| Name|
+---+-----+-------+-----+
| 19|50000|     18|Sohan|
| 20|75000|     17| Sima|
| 19|Sohan|  50000|   18|
| 20| Sima|  75000|   17|
| 20| Sima|  75000|   17|
| 20| Sima|  75000|   17|
+---+-----+-------+-----+

In [0]:
manager_df1.unionByName(wrong_manager_df).show()

+---+-----+-----+-------+
| id| Name|  sal|mngr_id|
+---+-----+-----+-------+
| 19|Sohan|50000|     18|
| 20| Sima|75000|     17|
| 20| Sima|75000|     17|
| 20| Sima|75000|     17|
| 19|Sohan|50000|     18|
| 20| Sima|75000|     17|
+---+-----+-----+-------+

In [0]:
wrong_column_data1=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_schema1 = ['id','sal','mngr_id','Nam']

wrong_manager_df1=spark.createDataFrame(wrong_column_data1,wrong_schema1)

In [0]:
wrong_manager_df.unionByName(wrong_manager_df1).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-4270033757460263>:1
----> 1 wrong_manager_df.unionByName(wrong_manager_df1).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3738, in DataFrame.unionByName(self, other, allowMissingColumns)
   3682 def unionByName(self, other: "DataFrame", allowMissingColumns: bool = False) -> "DataFrame":
   3683     """Returns a new :class:`DataFrame` containing union of rows in this and another
   3684     :class:`DataFrame`.
   3685
   (...)
   3736     +----+----+----+----+
   3737     """
-> 3738     return DataFrame(self._jdf.unionByName(other._jdf, allowMissingColumns), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Cannot resolve column name "Name" among (id, sal, mngr_id, Nam).

If else

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

schema=['id','name','age','salary','country','dept']

emp_df=spark.createDataFrame(emp_data,schema)

In [0]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
emp_df.withColumn("adult",when(col('age')<18,'No')
                  .when(col('age')>18,'Yes')
                  .otherwise('NoValue')).show()

+----+-------+----+------+-------+-----------+-------+
|  id|   name| age|salary|country|       dept|  adult|
+----+-------+----+------+-------+-----------+-------+
|   1| manish|  26| 20000|  india|         IT|    Yes|
|   2|  rahul|null| 40000|germany|engineering|NoValue|
|   3|  pawan|  12| 60000|  india|      sales|     No|
|   4|roshini|  44|  null|     uk|engineering|    Yes|
|   5|raushan|  35| 70000|  india|      sales|    Yes|
|   6|   null|  29|200000|     uk|         IT|    Yes|
|   7|   adam|  37| 65000|     us|         IT|    Yes|
|   8|  chris|  16| 40000|     us|      sales|     No|
|null|   null|null|  null|   null|       null|NoValue|
|   7|   adam|  37| 65000|     us|         IT|    Yes|
+----+-------+----+------+-------+-----------+-------+

In [0]:
emp_df.withColumn('age',when(col('age').isNull(),lit(19)).otherwise(col('age')))\
.withColumn("adult",when(col('age')<18,'No').otherwise('Yes')
                  ).show()

+----+-------+---+------+-------+-----------+-----+
|  id|   name|age|salary|country|       dept|adult|
+----+-------+---+------+-------+-----------+-----+
|   1| manish| 26| 20000|  india|         IT|  Yes|
|   2|  rahul| 19| 40000|germany|engineering|  Yes|
|   3|  pawan| 12| 60000|  india|      sales|   No|
|   4|roshini| 44|  null|     uk|engineering|  Yes|
|   5|raushan| 35| 70000|  india|      sales|  Yes|
|   6|   null| 29|200000|     uk|         IT|  Yes|
|   7|   adam| 37| 65000|     us|         IT|  Yes|
|   8|  chris| 16| 40000|     us|      sales|   No|
|null|   null| 19|  null|   null|       null|  Yes|
|   7|   adam| 37| 65000|     us|         IT|  Yes|
+----+-------+---+------+-------+-----------+-----+

In [0]:
emp_df.withColumn('age_wise',when(col('age')>0 & col('age')<18,'Minor')).show()

---------------------------------------------------------------------------
Py4JError                                 Traceback (most recent call last)
File <command-1497892530559978>:1
----> 1 emp_df.withColumn('age_wise',when(col('age')>0 & col('age')<18,'Minor')).show()

File /databricks/spark/python/pyspark/sql/column.py:164, in _bin_op.<locals>._(self, other)
    159 def _(
    160     self: "Column",
    161     other: Union["Column", "LiteralType", "DecimalLiteral", "DateTimeLiteral"],
    162 ) -> "Column":
    163     jc = other._jc if isinstance(other, Column) else other
--> 164     njc = getattr(self._jc, name)(jc)
    165     return Column(njc)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:228, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 def deco(*a: Any, **kw: Any) -> Any:
    227     try:
--> 228         return f(*a, **kw)
    229     except Py4JJavaError as e:
    230         converted = convert_exception(e.java_exception)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/protocol.py:330, in get_return_value(answer, gateway_client, target_id, name)
    326         raise Py4JJavaError(
    327             "An error occurred while calling {0}{1}{2}.\n".
    328             format(target_id, ".", name), value)
    329     else:
--> 330         raise Py4JError(
    331             "An error occurred while calling {0}{1}{2}. Trace:\n{3}\n".
    332             format(target_id, ".", name, value))
    333 else:
    334     raise Py4JError(
    335         "An error occurred while calling {0}{1}{2}".
    336         format(target_id, ".", name))

Py4JError: An error occurred while calling o1641.and. Trace:
py4j.Py4JException: Method and([class java.lang.Integer]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:341)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:349)
	at py4j.Gateway.invoke(Gateway.java:297)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:195)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:115)
	at java.lang.Thread.run(Thread.java:750)

In [0]:
emp_df.withColumn('age_wise',when((col('age')>0) & (col('age')<18),'Minor')
                  .when((col('age')>18) & (col('age')<30),'Mid')
                  .otherwise('Major'))\
                  .show()

+----+-------+----+------+-------+-----------+--------+
|  id|   name| age|salary|country|       dept|age_wise|
+----+-------+----+------+-------+-----------+--------+
|   1| manish|  26| 20000|  india|         IT|     Mid|
|   2|  rahul|null| 40000|germany|engineering|   Major|
|   3|  pawan|  12| 60000|  india|      sales|   Minor|
|   4|roshini|  44|  null|     uk|engineering|   Major|
|   5|raushan|  35| 70000|  india|      sales|   Major|
|   6|   null|  29|200000|     uk|         IT|     Mid|
|   7|   adam|  37| 65000|     us|         IT|   Major|
|   8|  chris|  16| 40000|     us|      sales|   Minor|
|null|   null|null|  null|   null|       null|   Major|
|   7|   adam|  37| 65000|     us|         IT|   Major|
+----+-------+----+------+-------+-----------+--------+

In [0]:
emp_df.createOrReplaceTempView('emp_tbl')

In [0]:
spark.sql("""
          select *,
          case when age<18 then 'Minor'
          when age>18 then 'Major'
          else 'NoValue'
          end as adult
          from emp_tbl
          """).show()

+----+-------+----+------+-------+-----------+-------+
|  id|   name| age|salary|country|       dept|  adult|
+----+-------+----+------+-------+-----------+-------+
|   1| manish|  26| 20000|  india|         IT|  Major|
|   2|  rahul|null| 40000|germany|engineering|NoValue|
|   3|  pawan|  12| 60000|  india|      sales|  Minor|
|   4|roshini|  44|  null|     uk|engineering|  Major|
|   5|raushan|  35| 70000|  india|      sales|  Major|
|   6|   null|  29|200000|     uk|         IT|  Major|
|   7|   adam|  37| 65000|     us|         IT|  Major|
|   8|  chris|  16| 40000|     us|      sales|  Minor|
|null|   null|null|  null|   null|       null|NoValue|
|   7|   adam|  37| 65000|     us|         IT|  Major|
+----+-------+----+------+-------+-----------+-------+

In [0]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(15 ,'Mohit',45000,  18),
(13 ,'Nidhi',60000,  17),      
(14 ,'Priya',90000,  18),  
(18 ,'Sam',65000,   17)
     ]
schema = ['id','Name','sal','mngr_id']

manager_df=spark.createDataFrame(data,schema)

In [0]:
manager_df.show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 15| Mohit|45000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|90000|     18|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [0]:
manager_df.count()

Out[44]: 13

In [0]:
manager_df.distinct().show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 12| Nisha|40000|     18|
| 11| Vikas|75000|     16|
| 13| Nidhi|60000|     17|
| 15| Mohit|45000|     18|
| 14| Priya|80000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 14| Priya|90000|     18|
+---+------+-----+-------+

In [0]:
manager_df.distinct().count()

Out[46]: 10

In [0]:
manager_df.distinct('id','name').show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-2005587586478558>:1
----> 1 manager_df.distinct('id','name').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: distinct() takes 1 positional argument but 3 were given

In [0]:
manager_df.select('id','name').distinct().show()

+---+------+
| id|  name|
+---+------+
| 10|  Anil|
| 11| Vikas|
| 12| Nisha|
| 13| Nidhi|
| 15| Mohit|
| 14| Priya|
| 17| Raman|
| 16|Rajesh|
| 18|   Sam|
+---+------+

In [0]:
manager_df.drop_duplicates().show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 12| Nisha|40000|     18|
| 11| Vikas|75000|     16|
| 13| Nidhi|60000|     17|
| 15| Mohit|45000|     18|
| 14| Priya|80000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 14| Priya|90000|     18|
+---+------+-----+-------+

In [0]:
manager_df.dropDuplicates().show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 12| Nisha|40000|     18|
| 11| Vikas|75000|     16|
| 13| Nidhi|60000|     17|
| 15| Mohit|45000|     18|
| 14| Priya|80000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 14| Priya|90000|     18|
+---+------+-----+-------+

In [0]:
dropped_mngr_df = manager_df.dropDuplicates()

In [0]:
manager_df.sort('sal').show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 12| Nisha|40000|     18|
| 15| Mohit|45000|     18|
| 15| Mohit|45000|     18|
| 10|  Anil|50000|     18|
| 17| Raman|55000|     16|
| 13| Nidhi|60000|     17|
| 13| Nidhi|60000|     17|
| 18|   Sam|65000|     17|
| 18|   Sam|65000|     17|
| 11| Vikas|75000|     16|
| 14| Priya|80000|     18|
| 16|Rajesh|90000|     10|
| 14| Priya|90000|     18|
+---+------+-----+-------+

In [0]:
manager_df.sort(col('sal').desc()).show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 14| Priya|90000|     18|
| 16|Rajesh|90000|     10|
| 14| Priya|80000|     18|
| 11| Vikas|75000|     16|
| 18|   Sam|65000|     17|
| 18|   Sam|65000|     17|
| 13| Nidhi|60000|     17|
| 13| Nidhi|60000|     17|
| 17| Raman|55000|     16|
| 10|  Anil|50000|     18|
| 15| Mohit|45000|     18|
| 15| Mohit|45000|     18|
| 12| Nisha|40000|     18|
+---+------+-----+-------+

In [0]:
manager_df.sort(col('sal').desc(),col('Name').desc()).show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 16|Rajesh|90000|     10|
| 14| Priya|90000|     18|
| 14| Priya|80000|     18|
| 11| Vikas|75000|     16|
| 18|   Sam|65000|     17|
| 18|   Sam|65000|     17|
| 13| Nidhi|60000|     17|
| 13| Nidhi|60000|     17|
| 17| Raman|55000|     16|
| 10|  Anil|50000|     18|
| 15| Mohit|45000|     18|
| 15| Mohit|45000|     18|
| 12| Nisha|40000|     18|
+---+------+-----+-------+

In [0]:
leet_code_data = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]

leet_code_schema = ['id','name','referee_id']

cust_df = spark.createDataFrame(leet_code_data,leet_code_schema)

In [0]:
cust_df.show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|      null|
|  2|Jane|      null|
|  3|Alex|         2|
|  4|Bill|      null|
|  5|Zack|         1|
|  6|Mark|         2|
+---+----+----------+

In [0]:
cust_df.select('name').where((col('referee_id') != 2) |(col('referee_id').isNull())) .show() # where referee_id is not 2

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

Aggregate Function

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

emp_schema = ['id','name','age','salary','country','dept']

emp_df=spark.createDataFrame(emp_data,emp_schema)

In [0]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
emp_df.count()

Out[3]: 10

In [0]:
emp_df.select(count('name')).show()

+-----------+
|count(name)|
+-----------+
|          8|
+-----------+

In [0]:
emp_df.select(count('id')).show()

+---------+
|count(id)|
+---------+
|        9|
+---------+

In [0]:
emp_df.select(count('*')).show()

+--------+
|count(1)|
+--------+
|      10|
+--------+

In [0]:
emp_df.select(sum('salary'),min('salary'),max('salary'),avg('salary')).show()

+-----------+-----------+-----------+-----------+
|sum(salary)|min(salary)|max(salary)|avg(salary)|
+-----------+-----------+-----------+-----------+
|     560000|      20000|     200000|    70000.0|
+-----------+-----------+-----------+-----------+

In [0]:
emp_df.select(sum('salary').alias('total_salary'),min('salary').alias('minimum_salary'),max('salary').alias('maximum_salary'),avg('salary').alias('average_salary')).show()

+------------+--------------+--------------+--------------+
|total_salary|minimum_salary|maximum_salary|average_salary|
+------------+--------------+--------------+--------------+
|      560000|         20000|        200000|       70000.0|
+------------+--------------+--------------+--------------+

In [0]:
emp_df.select(sum('salary').alias('total_salary'),min('salary').alias('minimum_salary'),max('salary').alias('maximum_salary'),avg('salary').cast('integer').alias('average_salary')).show()

+------------+--------------+--------------+--------------+
|total_salary|minimum_salary|maximum_salary|average_salary|
+------------+--------------+--------------+--------------+
|      560000|         20000|        200000|         70000|
+------------+--------------+--------------+--------------+

Group By

In [0]:
emp_data=[(1,'manish',50000,"IT"),
(2,'vikash',60000,'sales'),
(3,'raushan',70000,'marketing'),
(4,'mukesh',80000,'IT'),
(5,'pritam',90000,'sales'),
(6,'nikita',45000,'marketing'),
(7,'ragini',55000,'marketing'),
(8,'rakesh',100000,'IT'),
(9,'aditya',65000,'IT'),
(10,'rahul',50000,'marketing')]

emp_schema = ['id','name','salary','dept']

emp_df=spark.createDataFrame(emp_data,emp_schema)

emp_df.show()

+---+-------+------+---------+
| id|   name|salary|     dept|
+---+-------+------+---------+
|  1| manish| 50000|       IT|
|  2| vikash| 60000|    sales|
|  3|raushan| 70000|marketing|
|  4| mukesh| 80000|       IT|
|  5| pritam| 90000|    sales|
|  6| nikita| 45000|marketing|
|  7| ragini| 55000|marketing|
|  8| rakesh|100000|       IT|
|  9| aditya| 65000|       IT|
| 10|  rahul| 50000|marketing|
+---+-------+------+---------+

In [0]:
emp_df.describe().show()

+-------+------------------+------+-----------------+-----+
|summary|                id|  name|           salary| dept|
+-------+------------------+------+-----------------+-----+
|  count|                10|    10|               10|   10|
|   mean|               5.5|  null|          66500.0| null|
| stddev|3.0276503540974917|  null|18416.47812874836| null|
|    min|                 1|aditya|            45000|   IT|
|    max|                10|vikash|           100000|sales|
+-------+------------------+------+-----------------+-----+

In [0]:
emp_df.groupBy('dept')\
    .agg(sum('salary')).show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|     295000|
|    sales|     150000|
|marketing|     220000|
+---------+-----------+

In [0]:
emp_data=[(1,'manish',50000,"IT",'india'),
(2,'vikash',60000,'sales','us'),
(3,'raushan',70000,'marketing','india'),
(4,'mukesh',80000,'IT','us'),
(5,'pritam',90000,'sales','india'),
(6,'nikita',45000,'marketing','us'),
(7,'ragini',55000,'marketing','india'),
(8,'rakesh',100000,'IT','us'),
(9,'aditya',65000,'IT','india'),
(10,'rahul',50000,'marketing','us')]

emp_schema = ['id','name','salary','dept','country']

emp_df=spark.createDataFrame(emp_data,emp_schema)

emp_df.show()

+---+-------+------+---------+-------+
| id|   name|salary|     dept|country|
+---+-------+------+---------+-------+
|  1| manish| 50000|       IT|  india|
|  2| vikash| 60000|    sales|     us|
|  3|raushan| 70000|marketing|  india|
|  4| mukesh| 80000|       IT|     us|
|  5| pritam| 90000|    sales|  india|
|  6| nikita| 45000|marketing|     us|
|  7| ragini| 55000|marketing|  india|
|  8| rakesh|100000|       IT|     us|
|  9| aditya| 65000|       IT|  india|
| 10|  rahul| 50000|marketing|     us|
+---+-------+------+---------+-------+

In [0]:
emp_df.groupBy('dept','country')\
    .agg(sum('salary')).sort('dept','country').show()

+---------+-------+-----------+
|     dept|country|sum(salary)|
+---------+-------+-----------+
|       IT|  india|     115000|
|       IT|     us|     180000|
|marketing|  india|     125000|
|marketing|     us|      95000|
|    sales|  india|      90000|
|    sales|     us|      60000|
+---------+-------+-----------+

In [0]:
emp_df.createOrReplaceTempView('tbl')

In [0]:
spark.sql(""" select dept, SUM(salary) from tbl group by dept """).show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|     295000|
|    sales|     150000|
|marketing|     220000|
+---------+-----------+

Join

In [0]:
customer_data = [(1,'manish','patna',"30-05-2022"),
(2,'vikash','kolkata',"12-03-2023"),
(3,'nikita','delhi',"25-06-2023"),
(4,'rahul','ranchi',"24-03-2023"),
(5,'mahesh','jaipur',"22-03-2023"),
(6,'prantosh','kolkata',"18-10-2022"),
(7,'raman','patna',"30-12-2022"),
(8,'prakash','ranchi',"24-02-2023"),
(9,'ragini','kolkata',"03-03-2023"),
(10,'raushan','jaipur',"05-02-2023")]

customer_schema=['customer_id','customer_name','address','date_of_joining']

customer_df=spark.createDataFrame(customer_data,customer_schema)

customer_df.createOrReplaceTempView('cust_tbl')

sales_data = [(1,22,10,"01-06-2022"),
(1,27,5,"03-02-2023"),
(2,5,3,"01-06-2023"),
(5,22,1,"22-03-2023"),
(7,22,4,"03-02-2023"),
(9,5,6,"03-03-2023"),
(2,1,12,"15-06-2023"),
(1,56,2,"25-06-2023"),
(5,12,5,"15-04-2023"),
(11,12,76,"12-03-2023")]

sales_schema=['customer_id','product_id','quantity','date_of_purchase']

sales_df=spark.createDataFrame(sales_data,sales_schema)

sales_df.createOrReplaceTempView('sales_tbl')

product_data = [(1, 'fanta',20),
(2, 'dew',22),
(5, 'sprite',40),
(7, 'redbull',100),
(12,'mazza',45),
(22,'coke',27),
(25,'limca',21),
(27,'pepsi',14),
(56,'sting',10)]

product_schema=['id','name','price']

product_df=spark.createDataFrame(product_data,product_schema)

product_df.createOrReplaceTempView('pdt_tbl')

In [0]:
customer_df.join(sales_df,sales_df['customer_id']==customer_df['customer_id'],'inner').show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
customer_df.join(sales_df,sales_df['customer_id']==customer_df['customer_id'],'inner').select('customer_id').show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2019211049380503>:1
----> 1 customer_df.join(sales_df,sales_df['customer_id']==customer_df['customer_id'],'inner').select('customer_id').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [AMBIGUOUS_REFERENCE] Reference `customer_id` is ambiguous, could be: [`customer_id`, `customer_id`].

In [0]:
customer_df.join(sales_df,sales_df['customer_id']==customer_df['customer_id'],'inner').select(sales_df['customer_id']).show()

+-----------+
|customer_id|
+-----------+
|          1|
|          1|
|          1|
|          2|
|          2|
|          5|
|          5|
|          7|
|          9|
+-----------+

In [0]:
 customer_df.join(sales_df,sales_df['customer_id']==customer_df['customer_id'],'left').show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
sales_df.join(product_df,sales_df['product_id']==product_df['id'],'right').show()

+-----------+----------+--------+----------------+---+-------+-----+
|customer_id|product_id|quantity|date_of_purchase| id|   name|price|
+-----------+----------+--------+----------------+---+-------+-----+
|          2|         1|      12|      15-06-2023|  1|  fanta|   20|
|       null|      null|    null|            null|  2|    dew|   22|
|          9|         5|       6|      03-03-2023|  5| sprite|   40|
|          2|         5|       3|      01-06-2023|  5| sprite|   40|
|       null|      null|    null|            null|  7|redbull|  100|
|         11|        12|      76|      12-03-2023| 12|  mazza|   45|
|          5|        12|       5|      15-04-2023| 12|  mazza|   45|
|          7|        22|       4|      03-02-2023| 22|   coke|   27|
|          5|        22|       1|      22-03-2023| 22|   coke|   27|
|          1|        22|      10|      01-06-2022| 22|   coke|   27|
|       null|      null|    null|            null| 25|  limca|   21|
|          1|        27|       5|      03-02-2023| 27|  pepsi|   14|
|          1|        56|       2|      25-06-2023| 56|  sting|   10|
+-----------+----------+--------+----------------+---+-------+-----+

In [0]:
 customer_df.join(sales_df,sales_df['customer_id']==customer_df['customer_id'],'outer').show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
|       null|         null|   null|           null|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
 customer_df.join(sales_df,sales_df['customer_id']==customer_df['customer_id'],'left_semi').show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          7|        raman|  patna|     30-12-2022|
|          9|       ragini|kolkata|     03-03-2023|
+-----------+-------------+-------+---------------+

In [0]:
 customer_df.join(sales_df,sales_df['customer_id']==customer_df['customer_id'],'left_anti').show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          8|      prakash| ranchi|     24-02-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

In [0]:
customer_df.crossJoin(sales_df).show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          2|         5|       3|      01-06-2023|
|          1|       manish|  patna|     30-05-2022|          5|        22|       1|      22-03-2023|
|          1|       manish|  patna|     30-05-2022|          7|        22|       4|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          9|         5|       6|      03-03-2023|
|          1|       manish|  patna|     30-05-2022|          2|         1|      12|      15-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          5|        12|       5|      15-04-2023|
|          1|       manish|  patna|     30-05-2022|         11|        12|      76|      12-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          1|        22|      10|      01-06-2022|
|          2|       vikash|kolkata|     12-03-2023|          1|        27|       5|      03-02-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          5|        22|       1|      22-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          7|        22|       4|      03-02-2023|
|          2|       vikash|kolkata|     12-03-2023|          9|         5|       6|      03-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          5|        12|       5|      15-04-2023|
|          2|       vikash|kolkata|     12-03-2023|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
only showing top 20 rows

In [0]:
customer_df.crossJoin(sales_df).count()

Out[14]: 100

In [0]:
from pyspark.sql.functions import *

In [0]:
emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

emp_schema=['id','name','salary','dept','gender']

emp_df=spark.createDataFrame(emp_data,emp_schema)

In [0]:
# GROUP BY

emp_df.groupBy('dept').agg(sum('salary')).show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|     345000|
|marketing|     220000|
|    sales|     240000|
+---------+-----------+

In [0]:
from pyspark.sql.window import Window
window = Window.partitionBy('dept')
emp_df.withColumn('Total_salary',sum(col('salary')).over(window)).show()

+---+--------+------+---------+------+------------+
| id|    name|salary|     dept|gender|Total_salary|
+---+--------+------+---------+------+------------+
|  1|  manish| 50000|       IT|     m|      345000|
|  4|  mukesh| 80000|       IT|     m|      345000|
|  8|   rashi|100000|       IT|     f|      345000|
|  9|  aditya| 65000|       IT|     m|      345000|
| 11|   rakhi| 50000|       IT|     f|      345000|
|  3| raushan| 70000|marketing|     m|      220000|
|  6|  nikita| 45000|marketing|     f|      220000|
|  7|  ragini| 55000|marketing|     f|      220000|
| 10|   rahul| 50000|marketing|     m|      220000|
|  2|  vikash| 60000|    sales|     m|      240000|
|  5|   priti| 90000|    sales|     f|      240000|
| 12|akhilesh| 90000|    sales|     m|      240000|
+---+--------+------+---------+------+------------+

In [0]:
from pyspark.sql.window import Window
window = Window.partitionBy('dept').orderBy('salary')
emp_df.withColumn('row_number',row_number().over(window))\
    .withColumn('Rank',rank().over(window))\
        .withColumn('DenseRank',dense_rank().over(window))\
    .show()

+---+--------+------+---------+------+----------+----+---------+
| id|    name|salary|     dept|gender|row_number|Rank|DenseRank|
+---+--------+------+---------+------+----------+----+---------+
|  1|  manish| 50000|       IT|     m|         1|   1|        1|
| 11|   rakhi| 50000|       IT|     f|         2|   1|        1|
|  9|  aditya| 65000|       IT|     m|         3|   3|        2|
|  4|  mukesh| 80000|       IT|     m|         4|   4|        3|
|  8|   rashi|100000|       IT|     f|         5|   5|        4|
|  6|  nikita| 45000|marketing|     f|         1|   1|        1|
| 10|   rahul| 50000|marketing|     m|         2|   2|        2|
|  7|  ragini| 55000|marketing|     f|         3|   3|        3|
|  3| raushan| 70000|marketing|     m|         4|   4|        4|
|  2|  vikash| 60000|    sales|     m|         1|   1|        1|
|  5|   priti| 90000|    sales|     f|         2|   2|        2|
| 12|akhilesh| 90000|    sales|     m|         3|   2|        2|
+---+--------+------+---------+------+----------+----+---------+

In [0]:
from pyspark.sql.window import Window
window = Window.partitionBy('dept','gender').orderBy('salary')
emp_df.withColumn('row_number',row_number().over(window))\
    .withColumn('Rank',rank().over(window))\
        .withColumn('DenseRank',dense_rank().over(window))\
    .show()

+---+--------+------+---------+------+----------+----+---------+
| id|    name|salary|     dept|gender|row_number|Rank|DenseRank|
+---+--------+------+---------+------+----------+----+---------+
| 11|   rakhi| 50000|       IT|     f|         1|   1|        1|
|  8|   rashi|100000|       IT|     f|         2|   2|        2|
|  1|  manish| 50000|       IT|     m|         1|   1|        1|
|  9|  aditya| 65000|       IT|     m|         2|   2|        2|
|  4|  mukesh| 80000|       IT|     m|         3|   3|        3|
|  6|  nikita| 45000|marketing|     f|         1|   1|        1|
|  7|  ragini| 55000|marketing|     f|         2|   2|        2|
| 10|   rahul| 50000|marketing|     m|         1|   1|        1|
|  3| raushan| 70000|marketing|     m|         2|   2|        2|
|  5|   priti| 90000|    sales|     f|         1|   1|        1|
|  2|  vikash| 60000|    sales|     m|         1|   1|        1|
| 12|akhilesh| 90000|    sales|     m|         2|   2|        2|
+---+--------+------+---------+------+----------+----+---------+

In [0]:
from pyspark.sql.window import Window
window = Window.partitionBy('dept').orderBy(desc('salary'))
emp_df.withColumn('row_number',row_number().over(window))\
    .withColumn('Rank',rank().over(window))\
        .withColumn('DenseRank',dense_rank().over(window))\
            .filter(col('DenseRank')<=2)\
    .show()

+---+--------+------+---------+------+----------+----+---------+
| id|    name|salary|     dept|gender|row_number|Rank|DenseRank|
+---+--------+------+---------+------+----------+----+---------+
|  8|   rashi|100000|       IT|     f|         1|   1|        1|
|  4|  mukesh| 80000|       IT|     m|         2|   2|        2|
|  3| raushan| 70000|marketing|     m|         1|   1|        1|
|  7|  ragini| 55000|marketing|     f|         2|   2|        2|
|  5|   priti| 90000|    sales|     f|         1|   1|        1|
| 12|akhilesh| 90000|    sales|     m|         2|   1|        1|
|  2|  vikash| 60000|    sales|     m|         3|   3|        2|
+---+--------+------+---------+------+----------+----+---------+

In [0]:
product_data = [
(1,"iphone","01-01-2023",1500000),
(2,"samsung","01-01-2023",1100000),
(3,"oneplus","01-01-2023",1100000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)
]

product_schema=['product_id','product_name','sales_date','sales']

product_df=spark.createDataFrame(product_data,product_schema)

In [0]:
window=Window.partitionBy('product_id').orderBy('sales_date')
last_month_df= product_df.withColumn('prev_month_sale',lag(col('sales'),1).over(window))
last_month_df.show()

+----------+------------+----------+-------+---------------+
|product_id|product_name|sales_date|  sales|prev_month_sale|
+----------+------------+----------+-------+---------------+
|         1|      iphone|01-01-2023|1500000|           null|
|         1|      iphone|01-02-2023|1300000|        1500000|
|         1|      iphone|01-03-2023|1600000|        1300000|
|         1|      iphone|01-04-2023|1700000|        1600000|
|         1|      iphone|01-05-2023|1200000|        1700000|
|         1|      iphone|01-06-2023|1100000|        1200000|
|         2|     samsung|01-01-2023|1100000|           null|
|         2|     samsung|01-02-2023|1120000|        1100000|
|         2|     samsung|01-03-2023|1080000|        1120000|
|         2|     samsung|01-04-2023|1800000|        1080000|
|         2|     samsung|01-05-2023| 980000|        1800000|
|         2|     samsung|01-06-2023|1100000|         980000|
|         3|     oneplus|01-01-2023|1100000|           null|
|         3|     oneplus|01-02-2023|1120000|        1100000|
|         3|     oneplus|01-03-2023|1160000|        1120000|
|         3|     oneplus|01-04-2023|1170000|        1160000|
|         3|     oneplus|01-05-2023|1175000|        1170000|
|         3|     oneplus|01-06-2023|1200000|        1175000|
+----------+------------+----------+-------+---------------+

In [0]:
last_month_df.withColumn('per_loss_gain',round(((col("sales")-col('prev_month_sale'))/col('sales'))*100,2)).show()

+----------+------------+----------+-------+---------------+-------------+
|product_id|product_name|sales_date|  sales|prev_month_sale|per_loss_gain|
+----------+------------+----------+-------+---------------+-------------+
|         1|      iphone|01-01-2023|1500000|           null|         null|
|         1|      iphone|01-02-2023|1300000|        1500000|       -15.38|
|         1|      iphone|01-03-2023|1600000|        1300000|        18.75|
|         1|      iphone|01-04-2023|1700000|        1600000|         5.88|
|         1|      iphone|01-05-2023|1200000|        1700000|       -41.67|
|         1|      iphone|01-06-2023|1100000|        1200000|        -9.09|
|         2|     samsung|01-01-2023|1100000|           null|         null|
|         2|     samsung|01-02-2023|1120000|        1100000|         1.79|
|         2|     samsung|01-03-2023|1080000|        1120000|         -3.7|
|         2|     samsung|01-04-2023|1800000|        1080000|         40.0|
|         2|     samsung|01-05-2023| 980000|        1800000|       -83.67|
|         2|     samsung|01-06-2023|1100000|         980000|        10.91|
|         3|     oneplus|01-01-2023|1100000|           null|         null|
|         3|     oneplus|01-02-2023|1120000|        1100000|         1.79|
|         3|     oneplus|01-03-2023|1160000|        1120000|         3.45|
|         3|     oneplus|01-04-2023|1170000|        1160000|         0.85|
|         3|     oneplus|01-05-2023|1175000|        1170000|         0.43|
|         3|     oneplus|01-06-2023|1200000|        1175000|         2.08|
+----------+------------+----------+-------+---------------+-------------+

Range and Row between / first and last

Difference in First and last Sale

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [0]:
product_data = [
(2,"samsung","01-01-1995",11000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-01-2006",15000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(3,"oneplus","01-01-2010",23000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)
]

product_schema=["product_id","product_name","sales_date","sales"]

product_df = spark.createDataFrame(data=product_data,schema=product_schema)

product_df.show()

+----------+------------+----------+-------+
|product_id|product_name|sales_date|  sales|
+----------+------------+----------+-------+
|         2|     samsung|01-01-1995|  11000|
|         1|      iphone|01-02-2023|1300000|
|         2|     samsung|01-02-2023|1120000|
|         3|     oneplus|01-02-2023|1120000|
|         1|      iphone|01-03-2023|1600000|
|         2|     samsung|01-03-2023|1080000|
|         3|     oneplus|01-03-2023|1160000|
|         1|      iphone|01-01-2006|  15000|
|         1|      iphone|01-04-2023|1700000|
|         2|     samsung|01-04-2023|1800000|
|         3|     oneplus|01-04-2023|1170000|
|         1|      iphone|01-05-2023|1200000|
|         2|     samsung|01-05-2023| 980000|
|         3|     oneplus|01-05-2023|1175000|
|         1|      iphone|01-06-2023|1100000|
|         3|     oneplus|01-01-2010|  23000|
|         2|     samsung|01-06-2023|1100000|
|         3|     oneplus|01-06-2023|1200000|
+----------+------------+----------+-------+

In [0]:
window = Window.partitionBy('product_id').orderBy('sales_date')

In [0]:
product_df.withColumn('first_sale',first('sales').over(window))\
    .withColumn('last_sale',last('sales').over(window))\
        .show()

+----------+------------+----------+-------+----------+---------+
|product_id|product_name|sales_date|  sales|first_sale|last_sale|
+----------+------------+----------+-------+----------+---------+
|         1|      iphone|01-01-2006|  15000|     15000|    15000|
|         1|      iphone|01-02-2023|1300000|     15000|  1300000|
|         1|      iphone|01-03-2023|1600000|     15000|  1600000|
|         1|      iphone|01-04-2023|1700000|     15000|  1700000|
|         1|      iphone|01-05-2023|1200000|     15000|  1200000|
|         1|      iphone|01-06-2023|1100000|     15000|  1100000|
|         2|     samsung|01-01-1995|  11000|     11000|    11000|
|         2|     samsung|01-02-2023|1120000|     11000|  1120000|
|         2|     samsung|01-03-2023|1080000|     11000|  1080000|
|         2|     samsung|01-04-2023|1800000|     11000|  1800000|
|         2|     samsung|01-05-2023| 980000|     11000|   980000|
|         2|     samsung|01-06-2023|1100000|     11000|  1100000|
|         3|     oneplus|01-01-2010|  23000|     23000|    23000|
|         3|     oneplus|01-02-2023|1120000|     23000|  1120000|
|         3|     oneplus|01-03-2023|1160000|     23000|  1160000|
|         3|     oneplus|01-04-2023|1170000|     23000|  1170000|
|         3|     oneplus|01-05-2023|1175000|     23000|  1175000|
|         3|     oneplus|01-06-2023|1200000|     23000|  1200000|
+----------+------------+----------+-------+----------+---------+

In [0]:
product_df.withColumn('first_sale',first('sales').over(window))\
    .withColumn('last_sale',last('sales').over(window))\
        .explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Window [product_id#2L, product_name#3, sales_date#4, sales#5L, first(sales#5L, false) windowspecdefinition(product_id#2L, sales_date#4 ASC NULLS FIRST, specifiedwindowframe(RangeFrame, unboundedpreceding$(), currentrow$())) AS first_sale#105L, last(sales#5L, false) windowspecdefinition(product_id#2L, sales_date#4 ASC NULLS FIRST, specifiedwindowframe(RangeFrame, unboundedpreceding$(), currentrow$())) AS last_sale#112L], [product_id#2L], [sales_date#4 ASC NULLS FIRST]
   +- Sort [product_id#2L ASC NULLS FIRST, sales_date#4 ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(product_id#2L, 200), ENSURE_REQUIREMENTS, [plan_id=116]
         +- Scan ExistingRDD[product_id#2L,product_name#3,sales_date#4,sales#5L]

In [0]:
window = Window.partitionBy('product_id').orderBy('sales_date')\
    .rowsBetween(Window.unboundedPreceding,Window.unboundedFollowing)

In [0]:
product_df.withColumn('first_sale',first('sales').over(window))\
    .withColumn('last_sale',last('sales').over(window))\
        .show()

+----------+------------+----------+-------+----------+---------+
|product_id|product_name|sales_date|  sales|first_sale|last_sale|
+----------+------------+----------+-------+----------+---------+
|         1|      iphone|01-01-2006|  15000|     15000|  1100000|
|         1|      iphone|01-02-2023|1300000|     15000|  1100000|
|         1|      iphone|01-03-2023|1600000|     15000|  1100000|
|         1|      iphone|01-04-2023|1700000|     15000|  1100000|
|         1|      iphone|01-05-2023|1200000|     15000|  1100000|
|         1|      iphone|01-06-2023|1100000|     15000|  1100000|
|         2|     samsung|01-01-1995|  11000|     11000|  1100000|
|         2|     samsung|01-02-2023|1120000|     11000|  1100000|
|         2|     samsung|01-03-2023|1080000|     11000|  1100000|
|         2|     samsung|01-04-2023|1800000|     11000|  1100000|
|         2|     samsung|01-05-2023| 980000|     11000|  1100000|
|         2|     samsung|01-06-2023|1100000|     11000|  1100000|
|         3|     oneplus|01-01-2010|  23000|     23000|  1200000|
|         3|     oneplus|01-02-2023|1120000|     23000|  1200000|
|         3|     oneplus|01-03-2023|1160000|     23000|  1200000|
|         3|     oneplus|01-04-2023|1170000|     23000|  1200000|
|         3|     oneplus|01-05-2023|1175000|     23000|  1200000|
|         3|     oneplus|01-06-2023|1200000|     23000|  1200000|
+----------+------------+----------+-------+----------+---------+

In [0]:
product_df.withColumn('first_sale',first('sales').over(window))\
    .withColumn('last_sale',last('sales').over(window))\
        .withColumn('diff',col('last_sale')-col('first_sale'))\
            .select('product_id','product_name','diff').distinct()\
        .show()

+----------+------------+-------+
|product_id|product_name|   diff|
+----------+------------+-------+
|         1|      iphone|1085000|
|         2|     samsung|1089000|
|         3|     oneplus|1177000|
+----------+------------+-------+

Employee not completing 8 hours in office

In [0]:
emp_data = [(1,"manish","11-07-2023","10:20"),
        (1,"manish","11-07-2023","11:20"),
        (2,"rajesh","11-07-2023","11:20"),
        (1,"manish","11-07-2023","11:50"),
        (2,"rajesh","11-07-2023","13:20"),
        (1,"manish","11-07-2023","19:20"),
        (2,"rajesh","11-07-2023","17:20"),
        (1,"manish","12-07-2023","10:32"),
        (1,"manish","12-07-2023","12:20"),
        (3,"vikash","12-07-2023","09:12"),
        (1,"manish","12-07-2023","16:23"),
        (3,"vikash","12-07-2023","18:08")]

emp_schema = ["id", "name", "date", "time"]
emp_df = spark.createDataFrame(data=emp_data, schema=emp_schema)

emp_df.show()

+---+------+----------+-----+
| id|  name|      date| time|
+---+------+----------+-----+
|  1|manish|11-07-2023|10:20|
|  1|manish|11-07-2023|11:20|
|  2|rajesh|11-07-2023|11:20|
|  1|manish|11-07-2023|11:50|
|  2|rajesh|11-07-2023|13:20|
|  1|manish|11-07-2023|19:20|
|  2|rajesh|11-07-2023|17:20|
|  1|manish|12-07-2023|10:32|
|  1|manish|12-07-2023|12:20|
|  3|vikash|12-07-2023|09:12|
|  1|manish|12-07-2023|16:23|
|  3|vikash|12-07-2023|18:08|
+---+------+----------+-----+

In [0]:
emp_df = emp_df.withColumn('timestamp',
                           from_unixtime(unix_timestamp(expr('CONCAT(date," ",time)'),'dd-MM-yyyy HH:mm')))

In [0]:
emp_df.show()

+---+------+----------+-----+-------------------+
| id|  name|      date| time|          timestamp|
+---+------+----------+-----+-------------------+
|  1|manish|11-07-2023|10:20|2023-07-11 10:20:00|
|  1|manish|11-07-2023|11:20|2023-07-11 11:20:00|
|  2|rajesh|11-07-2023|11:20|2023-07-11 11:20:00|
|  1|manish|11-07-2023|11:50|2023-07-11 11:50:00|
|  2|rajesh|11-07-2023|13:20|2023-07-11 13:20:00|
|  1|manish|11-07-2023|19:20|2023-07-11 19:20:00|
|  2|rajesh|11-07-2023|17:20|2023-07-11 17:20:00|
|  1|manish|12-07-2023|10:32|2023-07-12 10:32:00|
|  1|manish|12-07-2023|12:20|2023-07-12 12:20:00|
|  3|vikash|12-07-2023|09:12|2023-07-12 09:12:00|
|  1|manish|12-07-2023|16:23|2023-07-12 16:23:00|
|  3|vikash|12-07-2023|18:08|2023-07-12 18:08:00|
+---+------+----------+-----+-------------------+

In [0]:
window = Window.partitionBy('id','date').orderBy('date')\
    .rowsBetween(Window.unboundedPreceding,Window.unboundedFollowing)

In [0]:
emp_df.withColumn('login',first('timestamp').over(window))\
    .withColumn('logout',last('timestamp').over(window)).show()

+---+------+----------+-----+-------------------+-------------------+-------------------+
| id|  name|      date| time|          timestamp|              login|             logout|
+---+------+----------+-----+-------------------+-------------------+-------------------+
|  1|manish|11-07-2023|10:20|2023-07-11 10:20:00|2023-07-11 10:20:00|2023-07-11 19:20:00|
|  1|manish|11-07-2023|11:20|2023-07-11 11:20:00|2023-07-11 10:20:00|2023-07-11 19:20:00|
|  1|manish|11-07-2023|11:50|2023-07-11 11:50:00|2023-07-11 10:20:00|2023-07-11 19:20:00|
|  1|manish|11-07-2023|19:20|2023-07-11 19:20:00|2023-07-11 10:20:00|2023-07-11 19:20:00|
|  1|manish|12-07-2023|10:32|2023-07-12 10:32:00|2023-07-12 10:32:00|2023-07-12 16:23:00|
|  1|manish|12-07-2023|12:20|2023-07-12 12:20:00|2023-07-12 10:32:00|2023-07-12 16:23:00|
|  1|manish|12-07-2023|16:23|2023-07-12 16:23:00|2023-07-12 10:32:00|2023-07-12 16:23:00|
|  2|rajesh|11-07-2023|11:20|2023-07-11 11:20:00|2023-07-11 11:20:00|2023-07-11 17:20:00|
|  2|rajesh|11-07-2023|13:20|2023-07-11 13:20:00|2023-07-11 11:20:00|2023-07-11 17:20:00|
|  2|rajesh|11-07-2023|17:20|2023-07-11 17:20:00|2023-07-11 11:20:00|2023-07-11 17:20:00|
|  3|vikash|12-07-2023|09:12|2023-07-12 09:12:00|2023-07-12 09:12:00|2023-07-12 18:08:00|
|  3|vikash|12-07-2023|18:08|2023-07-12 18:08:00|2023-07-12 09:12:00|2023-07-12 18:08:00|
+---+------+----------+-----+-------------------+-------------------+-------------------+

In [0]:
emp_df.withColumn('login',first('timestamp').over(window))\
    .withColumn('logout',last('timestamp').over(window)).printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- login: string (nullable = true)
 |-- logout: string (nullable = true)

In [0]:
emp_df.withColumn('login',first('timestamp').over(window))\
    .withColumn('logout',last('timestamp').over(window))\
        .withColumn('login',to_timestamp('login','yyyy-MM-dd HH:mm:ss'))\
            .withColumn('logout',to_timestamp('logout','yyyy-MM-dd HH:mm:ss'))\
                .withColumn('total_time',col('logout')-col('login')).show(truncate=False)

+---+------+----------+-----+-------------------+-------------------+-------------------+-----------------------------------+
|id |name  |date      |time |timestamp          |login              |logout             |total_time                         |
+---+------+----------+-----+-------------------+-------------------+-------------------+-----------------------------------+
|1  |manish|11-07-2023|10:20|2023-07-11 10:20:00|2023-07-11 10:20:00|2023-07-11 19:20:00|INTERVAL '0 09:00:00' DAY TO SECOND|
|1  |manish|11-07-2023|11:20|2023-07-11 11:20:00|2023-07-11 10:20:00|2023-07-11 19:20:00|INTERVAL '0 09:00:00' DAY TO SECOND|
|1  |manish|11-07-2023|11:50|2023-07-11 11:50:00|2023-07-11 10:20:00|2023-07-11 19:20:00|INTERVAL '0 09:00:00' DAY TO SECOND|
|1  |manish|11-07-2023|19:20|2023-07-11 19:20:00|2023-07-11 10:20:00|2023-07-11 19:20:00|INTERVAL '0 09:00:00' DAY TO SECOND|
|1  |manish|12-07-2023|10:32|2023-07-12 10:32:00|2023-07-12 10:32:00|2023-07-12 16:23:00|INTERVAL '0 05:51:00' DAY TO SECOND|
|1  |manish|12-07-2023|12:20|2023-07-12 12:20:00|2023-07-12 10:32:00|2023-07-12 16:23:00|INTERVAL '0 05:51:00' DAY TO SECOND|
|1  |manish|12-07-2023|16:23|2023-07-12 16:23:00|2023-07-12 10:32:00|2023-07-12 16:23:00|INTERVAL '0 05:51:00' DAY TO SECOND|
|2  |rajesh|11-07-2023|11:20|2023-07-11 11:20:00|2023-07-11 11:20:00|2023-07-11 17:20:00|INTERVAL '0 06:00:00' DAY TO SECOND|
|2  |rajesh|11-07-2023|13:20|2023-07-11 13:20:00|2023-07-11 11:20:00|2023-07-11 17:20:00|INTERVAL '0 06:00:00' DAY TO SECOND|
|2  |rajesh|11-07-2023|17:20|2023-07-11 17:20:00|2023-07-11 11:20:00|2023-07-11 17:20:00|INTERVAL '0 06:00:00' DAY TO SECOND|
|3  |vikash|12-07-2023|09:12|2023-07-12 09:12:00|2023-07-12 09:12:00|2023-07-12 18:08:00|INTERVAL '0 08:56:00' DAY TO SECOND|
|3  |vikash|12-07-2023|18:08|2023-07-12 18:08:00|2023-07-12 09:12:00|2023-07-12 18:08:00|INTERVAL '0 08:56:00' DAY TO SECOND|
+---+------+----------+-----+-------------------+-------------------+-------------------+-----------------------------------+

In [0]:
emp_df.withColumn('login',first('timestamp').over(window))\
    .withColumn('logout',last('timestamp').over(window))\
        .withColumn('login',to_timestamp('login','yyyy-MM-dd HH:mm:ss'))\
            .withColumn('logout',to_timestamp('logout','yyyy-MM-dd HH:mm:ss'))\
                .withColumn('total_time',col('logout')-col('login'))\
                    .select('id','name',"date",'total_time').distinct().show()

+---+------+----------+--------------------+
| id|  name|      date|          total_time|
+---+------+----------+--------------------+
|  1|manish|11-07-2023|INTERVAL '0 09:00...|
|  1|manish|12-07-2023|INTERVAL '0 05:51...|
|  2|rajesh|11-07-2023|INTERVAL '0 06:00...|
|  3|vikash|12-07-2023|INTERVAL '0 08:56...|
+---+------+----------+--------------------+

In [0]:
emp_df=emp_df.withColumn('login',first('timestamp').over(window))\
    .withColumn('logout',last('timestamp').over(window))\
        .withColumn('login',to_timestamp('login','yyyy-MM-dd HH:mm:ss'))\
            .withColumn('logout',to_timestamp('logout','yyyy-MM-dd HH:mm:ss'))\
                .withColumn('total_time',col('logout')-col('login'))\
                .select('id','name',"date",'total_time').distinct()

In [0]:
emp_df.createOrReplaceTempView('tbl')
#emp_df = emp_df.withColumn('in_hrs',expr("extract(epoch from total_time) / 3600"))

In [0]:
emp_df=spark.sql("""
          select id , name, date ,extract(hour from total_time) as hours from tbl """)

In [0]:
emp_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- date: string (nullable = true)
 |-- hours: byte (nullable = true)

In [0]:
emp_df = emp_df.withColumn('hours',col('hours').cast('int'))

In [0]:
emp_df.filter(col('hours')<8).show()

+---+------+----------+-----+
| id|  name|      date|hours|
+---+------+----------+-----+
|  1|manish|12-07-2023|    5|
|  2|rajesh|11-07-2023|    6|
+---+------+----------+-----+

Running sales/cumulative sales

In [0]:
product_data = [
(1,"iphone","01-01-2023",1500000),
(2,"samsung","01-01-2023",1100000),
(3,"oneplus","01-01-2023",1100000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)
]

product_schema=["product_id","product_name","sales_date","sales"]

product_df = spark.createDataFrame(data=product_data,schema=product_schema)

In [0]:
product_df.show()

+----------+------------+----------+-------+
|product_id|product_name|sales_date|  sales|
+----------+------------+----------+-------+
|         1|      iphone|01-01-2023|1500000|
|         2|     samsung|01-01-2023|1100000|
|         3|     oneplus|01-01-2023|1100000|
|         1|      iphone|01-02-2023|1300000|
|         2|     samsung|01-02-2023|1120000|
|         3|     oneplus|01-02-2023|1120000|
|         1|      iphone|01-03-2023|1600000|
|         2|     samsung|01-03-2023|1080000|
|         3|     oneplus|01-03-2023|1160000|
|         1|      iphone|01-04-2023|1700000|
|         2|     samsung|01-04-2023|1800000|
|         3|     oneplus|01-04-2023|1170000|
|         1|      iphone|01-05-2023|1200000|
|         2|     samsung|01-05-2023| 980000|
|         3|     oneplus|01-05-2023|1175000|
|         1|      iphone|01-06-2023|1100000|
|         2|     samsung|01-06-2023|1100000|
|         3|     oneplus|01-06-2023|1200000|
+----------+------------+----------+-------+

In [0]:
window= Window.partitionBy('product_id').orderBy('sales_date').rowsBetween(-2,0)

In [0]:
product_df = product_df.withColumn('running_sum',sum('sales').over(window))
product_df.show()

+----------+------------+----------+-------+-----------+
|product_id|product_name|sales_date|  sales|running_sum|
+----------+------------+----------+-------+-----------+
|         1|      iphone|01-01-2023|1500000|    1500000|
|         1|      iphone|01-02-2023|1300000|    2800000|
|         1|      iphone|01-03-2023|1600000|    4400000|
|         1|      iphone|01-04-2023|1700000|    4600000|
|         1|      iphone|01-05-2023|1200000|    4500000|
|         1|      iphone|01-06-2023|1100000|    4000000|
|         2|     samsung|01-01-2023|1100000|    1100000|
|         2|     samsung|01-02-2023|1120000|    2220000|
|         2|     samsung|01-03-2023|1080000|    3300000|
|         2|     samsung|01-04-2023|1800000|    4000000|
|         2|     samsung|01-05-2023| 980000|    3860000|
|         2|     samsung|01-06-2023|1100000|    3880000|
|         3|     oneplus|01-01-2023|1100000|    1100000|
|         3|     oneplus|01-02-2023|1120000|    2220000|
|         3|     oneplus|01-03-2023|1160000|    3380000|
|         3|     oneplus|01-04-2023|1170000|    3450000|
|         3|     oneplus|01-05-2023|1175000|    3505000|
|         3|     oneplus|01-06-2023|1200000|    3545000|
+----------+------------+----------+-------+-----------+

In [0]:
window2= Window.partitionBy('product_id').orderBy('sales_date')
product_df = product_df.withColumn('row_number',row_number().over(window2))
product_df.show()

+----------+------------+----------+-------+-----------+----------+
|product_id|product_name|sales_date|  sales|running_sum|row_number|
+----------+------------+----------+-------+-----------+----------+
|         1|      iphone|01-01-2023|1500000|    1500000|         1|
|         1|      iphone|01-02-2023|1300000|    2800000|         2|
|         1|      iphone|01-03-2023|1600000|    4400000|         3|
|         1|      iphone|01-04-2023|1700000|    4600000|         4|
|         1|      iphone|01-05-2023|1200000|    4500000|         5|
|         1|      iphone|01-06-2023|1100000|    4000000|         6|
|         2|     samsung|01-01-2023|1100000|    1100000|         1|
|         2|     samsung|01-02-2023|1120000|    2220000|         2|
|         2|     samsung|01-03-2023|1080000|    3300000|         3|
|         2|     samsung|01-04-2023|1800000|    4000000|         4|
|         2|     samsung|01-05-2023| 980000|    3860000|         5|
|         2|     samsung|01-06-2023|1100000|    3880000|         6|
|         3|     oneplus|01-01-2023|1100000|    1100000|         1|
|         3|     oneplus|01-02-2023|1120000|    2220000|         2|
|         3|     oneplus|01-03-2023|1160000|    3380000|         3|
|         3|     oneplus|01-04-2023|1170000|    3450000|         4|
|         3|     oneplus|01-05-2023|1175000|    3505000|         5|
|         3|     oneplus|01-06-2023|1200000|    3545000|         6|
+----------+------------+----------+-------+-----------+----------+

In [0]:
product_df = product_df.filter(col('row_number')>2)

In [0]:
df = product_df.withColumn('Avg_sale',round(col('running_sum')/3,2)).select('product_id','product_name','sales_date','Avg_sale')

In [0]:
df.show()

+----------+------------+----------+----------+
|product_id|product_name|sales_date|  Avg_sale|
+----------+------------+----------+----------+
|         1|      iphone|01-03-2023|1466666.67|
|         1|      iphone|01-04-2023|1533333.33|
|         1|      iphone|01-05-2023| 1500000.0|
|         1|      iphone|01-06-2023|1333333.33|
|         2|     samsung|01-03-2023| 1100000.0|
|         2|     samsung|01-04-2023|1333333.33|
|         2|     samsung|01-05-2023|1286666.67|
|         2|     samsung|01-06-2023|1293333.33|
|         3|     oneplus|01-03-2023|1126666.67|
|         3|     oneplus|01-04-2023| 1150000.0|
|         3|     oneplus|01-05-2023|1168333.33|
|         3|     oneplus|01-06-2023|1181666.67|
+----------+------------+----------+----------+

Flatten json

In [0]:
restaurant_json_data = spark.read.format('json')\
  .option('multiline','true')\
    .option('inferschema','true')\
      .load('/FileStore/tables/resturant_json_data.json')

In [0]:
ls

azure/  eventlogs/  hadoop_accessed_config.lst*  preload_class.lst*
conf/   ganglia/    logs/

In [0]:
%fs
ls /FileStore/tables/

path,name,size,modificationTime
dbfs:/FileStore/tables/2010_summary.csv,2010_summary.csv,7121,1734530986000
dbfs:/FileStore/tables/Multi_line_correct.json,Multi_line_correct.json,310,1734629277000
dbfs:/FileStore/tables/Multi_line_incorrect.json,Multi_line_incorrect.json,304,1734629277000
dbfs:/FileStore/tables/StudentData.csv,StudentData.csv,75701,1656587787000
dbfs:/FileStore/tables/bad_records/,bad_records/,0,0
dbfs:/FileStore/tables/bucket_by_id/,bucket_by_id/,0,0
dbfs:/FileStore/tables/corrupted_json.json,corrupted_json.json,218,1734629275000
dbfs:/FileStore/tables/csv_write/,csv_write/,0,0
dbfs:/FileStore/tables/csv_write_repartition/,csv_write_repartition/,0,0
dbfs:/FileStore/tables/distinct.txt,distinct.txt,900,1656580239000
dbfs:/FileStore/tables/employee.csv,employee.csv,230,1734622538000
dbfs:/FileStore/tables/employees.csv,employees.csv,444,1734883812000
dbfs:/FileStore/tables/filter.txt,filter.txt,45,1656579325000
dbfs:/FileStore/tables/groupreduce.txt,groupreduce.txt,3226646,1656582669000
dbfs:/FileStore/tables/line_delimited_json.json,line_delimited_json.json,219,1734629276000
dbfs:/FileStore/tables/numbers.txt,numbers.txt,29,1656409579000
dbfs:/FileStore/tables/part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz.parquet,part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz.parquet,3921,1734798160000
dbfs:/FileStore/tables/partitionBy_address/,partitionBy_address/,0,0
dbfs:/FileStore/tables/partitionBy_address_gender/,partitionBy_address_gender/,0,0
dbfs:/FileStore/tables/partition_by_address/,partition_by_address/,0,0
dbfs:/FileStore/tables/person.csv,person.csv,741,1734881047000
dbfs:/FileStore/tables/resturant_json_data.json,resturant_json_data.json,669503,1735478237000
dbfs:/FileStore/tables/single_file_json_with_extra_fields.json,single_file_json_with_extra_fields.json,234,1734629278000

In [0]:
restaurant_json_data.show()

+----+-------+--------------------+-------------+-------------+-------------+------+
|code|message|         restaurants|results_found|results_shown|results_start|status|
+----+-------+--------------------+-------------+-------------+-------------+------+
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17066603}, b9...|         6835|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17093124}, b9...|         8680|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17580142}, b9...|          943|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17284158}, b9...|          257|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17678233}, b9...|          358|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17375047}, b9...|          641|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17616590}, b9...|         1613|           20|            1|  null|
+----+-------+--------------------+-------------+-------------+-------------+------+
only showing top 20 rows

In [0]:
restaurant_json_data.printSchema()

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- restaurants: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- restaurant: struct (nullable = true)
 |    |    |    |-- R: struct (nullable = true)
 |    |    |    |    |-- res_id: long (nullable = true)
 |    |    |    |-- apikey: string (nullable = true)
 |    |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |    |-- cuisines: string (nullable = true)
 |    |    |    |-- currency: string (nullable = true)
 |    |    |    |-- deeplink: string (nullable = true)
 |    |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- events_url: string (nullable = true)
 |    |    |    |-- featured_image: string (nullable = true)
 |    |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |    |-- has_table_booking: long (nullable = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |    |-- location: struct (nullable = true)
 |    |    |    |    |-- address: string (nullable = true)
 |    |    |    |    |-- city: string (nullable = true)
 |    |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |    |-- locality: string (nullable = true)
 |    |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |    |-- zipcode: string (nullable = true)
 |    |    |    |-- menu_url: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- offers: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- photos_url: string (nullable = true)
 |    |    |    |-- price_range: long (nullable = true)
 |    |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |    |-- thumb: string (nullable = true)
 |    |    |    |-- url: string (nullable = true)
 |    |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |    |-- votes: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [0]:
restaurant_json_data.select('*',explode('restaurants').alias('new_restaurants')).drop('restaurants').printSchema()

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)
 |-- new_restaurants: struct (nullable = true)
 |    |-- restaurant: struct (nullable = true)
 |    |    |-- R: struct (nullable = true)
 |    |    |    |-- res_id: long (nullable = true)
 |    |    |-- apikey: string (nullable = true)
 |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |-- cuisines: string (nullable = true)
 |    |    |-- currency: string (nullable = true)
 |    |    |-- deeplink: string (nullable = true)
 |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- events_url: string (nullable = true)
 |    |    |-- featured_image: string (nullable = true)
 |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |-- has_table_booking: long (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- address: string (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |-- locality: string (nullable = true)
 |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |-- zipcode: string (nullable = true)
 |    |    |-- menu_url: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- offers: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- photos_url: string (nullable = true)
 |    |    |-- price_range: long (nullable = true)
 |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |-- thumb: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |-- votes: string (nullable = true)

In [0]:
restaurant_json_data.select('*',explode('restaurants').alias('new_restaurants')).drop('restaurants')\
.select('new_restaurants.restaurant.name').show()

+--------------------+
|                name|
+--------------------+
|            The Coop|
|Maggiano's Little...|
|Tako Cheena by Po...|
|Bosphorous Turkis...|
|Bahama Breeze Isl...|
|Hawkers Asian Str...|
|Seasons 52 Fresh ...|
|Raglan Road Irish...|
|           Hillstone|
|Hollerbach's Will...|
|     Texas de Brazil|
|    The Ravenous Pig|
|    Earl of Sandwich|
|    Caf Tu Tu Tango|
|Tibby's New Orlea...|
|Cevche Tapas Bar...|
| Ethos Vegan Kitchen|
|Pom Pom's Teahous...|
|     Yellow Dog Eats|
|              'Ohana|
+--------------------+
only showing top 20 rows

SCD-2

In [0]:
customer_dim_data = [

(1,'manish','arwal','india','N','2022-09-15','2022-09-25'),
(2,'vikash','patna','india','Y','2023-08-12',None),
(3,'nikita','delhi','india','Y','2023-09-10',None),
(4,'rakesh','jaipur','india','Y','2023-06-10',None),
(5,'ayush','NY','USA','Y','2023-06-10',None),
(1,'manish','gurgaon','india','Y','2022-09-25',None),
]

customer_schema= ['id','name','city','country','active','effective_start_date','effective_end_date']

customer_dim_df = spark.createDataFrame(data= customer_dim_data,schema=customer_schema)

sales_data = [

(1,1,'manish','2023-01-16','gurgaon','india',380),
(77,1,'manish','2023-03-11','bangalore','india',300),
(12,3,'nikita','2023-09-20','delhi','india',127),
(54,4,'rakesh','2023-08-10','jaipur','india',321),
(65,5,'ayush','2023-09-07','mosco','russia',765),
(89,6,'rajat','2023-08-10','jaipur','india',321)
]

sales_schema = ['sales_id', 'customer_id','customer_name', 'sales_date', 'food_delivery_address','food_delivery_country', 'food_cost']

sales_df = spark.createDataFrame(data=sales_data,schema=sales_schema)

Join the DF to identify changes in address

In [0]:
joined_data = customer_dim_df.join(sales_df,customer_dim_df['id']==sales_df['customer_id'],'left')

In [0]:
display(joined_data)

id,name,city,country,active,effective_start_date,effective_end_date,sales_id,customer_id,customer_name,sales_date,food_delivery_address,food_delivery_country,food_cost
1,manish,arwal,india,N,2022-09-15,2022-09-25,77,1,manish,2023-03-11,bangalore,india,300
1,manish,arwal,india,N,2022-09-15,2022-09-25,1,1,manish,2023-01-16,gurgaon,india,380
2,vikash,patna,india,Y,2023-08-12,null,null,null,null,null,null,null,null
3,nikita,delhi,india,Y,2023-09-10,null,12,3,nikita,2023-09-20,delhi,india,127
4,rakesh,jaipur,india,Y,2023-06-10,null,54,4,rakesh,2023-08-10,jaipur,india,321
5,ayush,NY,USA,Y,2023-06-10,null,65,5,ayush,2023-09-07,mosco,russia,765
1,manish,gurgaon,india,Y,2022-09-25,null,77,1,manish,2023-03-11,bangalore,india,300
1,manish,gurgaon,india,Y,2022-09-25,null,1,1,manish,2023-01-16,gurgaon,india,380

In [0]:
new_record_df = joined_data.where(
    (col('food_delivery_address') != col('city')) & (col('active') == 'Y'))\
    .withColumn('active',lit('Y'))\
    .withColumn('effective_start_date',col('sales_date'))\
    .withColumn('effective_end_date',lit(None))\
        .select(
            'customer_id',
            'customer_name',
            col('food_delivery_address').alias('city'),
            'food_delivery_country',
            'active',
            'effective_start_date',
            'effective_end_date'   
)
new_record_df.show()

+-----------+-------------+---------+---------------------+------+--------------------+------------------+
|customer_id|customer_name|     city|food_delivery_country|active|effective_start_date|effective_end_date|
+-----------+-------------+---------+---------------------+------+--------------------+------------------+
|          1|       manish|bangalore|                india|     Y|          2023-03-11|              null|
|          5|        ayush|    mosco|               russia|     Y|          2023-09-07|              null|
+-----------+-------------+---------+---------------------+------+--------------------+------------------+

Update Old record

In [0]:
old_record_df = joined_data.where(
    (col('food_delivery_address') != col('city')) & (col('active') == 'Y'))\
    .withColumn('active',lit('N'))\
    .withColumn('effective_end_date',col('sales_date'))\
        .select(
            'customer_id',
            'customer_name',
            'city',
            'food_delivery_country',
            'active',
            'effective_start_date',
            'effective_end_date'   
)
old_record_df.show()

+-----------+-------------+-------+---------------------+------+--------------------+------------------+
|customer_id|customer_name|   city|food_delivery_country|active|effective_start_date|effective_end_date|
+-----------+-------------+-------+---------------------+------+--------------------+------------------+
|          1|       manish|gurgaon|                india|     N|          2022-09-25|        2023-03-11|
|          5|        ayush|     NY|               russia|     N|          2023-06-10|        2023-09-07|
+-----------+-------------+-------+---------------------+------+--------------------+------------------+

Find out new customers and insert them

In [0]:
new_customers = sales_df.join(
  customer_dim_df,sales_df['customer_id']==customer_dim_df['id'],'leftanti'
)\
    .withColumn('active',lit('Y'))\
    .withColumn('effective_start_date',col('sales_date'))\
    .withColumn('effective_end_date',lit(None))\
        .select(
            'customer_id',
            'customer_name',
            'food_delivery_address',
            'food_delivery_country',
            'active',
            'effective_start_date',
            'effective_end_date'   
)
new_customers.show()

+-----------+-------------+---------------------+---------------------+------+--------------------+------------------+
|customer_id|customer_name|food_delivery_address|food_delivery_country|active|effective_start_date|effective_end_date|
+-----------+-------------+---------------------+---------------------+------+--------------------+------------------+
|          6|        rajat|               jaipur|                india|     Y|          2023-08-10|              null|
+-----------+-------------+---------------------+---------------------+------+--------------------+------------------+

Merge all records in one DF

In [0]:
final_records = customer_dim_df.union(new_record_df).union(old_record_df).union(new_customers
)
final_records.show()

+---+------+---------+-------+------+--------------------+------------------+
| id|  name|     city|country|active|effective_start_date|effective_end_date|
+---+------+---------+-------+------+--------------------+------------------+
|  1|manish|    arwal|  india|     N|          2022-09-15|        2022-09-25|
|  2|vikash|    patna|  india|     Y|          2023-08-12|              null|
|  3|nikita|    delhi|  india|     Y|          2023-09-10|              null|
|  4|rakesh|   jaipur|  india|     Y|          2023-06-10|              null|
|  5| ayush|       NY|    USA|     Y|          2023-06-10|              null|
|  1|manish|  gurgaon|  india|     Y|          2022-09-25|              null|
|  1|manish|bangalore|  india|     Y|          2023-03-11|              null|
|  5| ayush|    mosco| russia|     Y|          2023-09-07|              null|
|  1|manish|  gurgaon|  india|     N|          2022-09-25|        2023-03-11|
|  5| ayush|       NY| russia|     N|          2023-06-10|        2023-09-07|
|  6| rajat|   jaipur|  india|     Y|          2023-08-10|              null|
+---+------+---------+-------+------+--------------------+------------------+

Remove the duplicate data

In [0]:
window = Window.partitionBy('id','active').orderBy(col('effective_start_date').desc())

final_records.withColumn('rnk',rank().over(window))\
  .filter(~((col('active')=='Y')&(col('rnk')>=2))).drop('rnk').show()

+---+------+---------+-------+------+--------------------+------------------+
| id|  name|     city|country|active|effective_start_date|effective_end_date|
+---+------+---------+-------+------+--------------------+------------------+
|  1|manish|  gurgaon|  india|     N|          2022-09-25|        2023-03-11|
|  1|manish|    arwal|  india|     N|          2022-09-15|        2022-09-25|
|  1|manish|bangalore|  india|     Y|          2023-03-11|              null|
|  2|vikash|    patna|  india|     Y|          2023-08-12|              null|
|  3|nikita|    delhi|  india|     Y|          2023-09-10|              null|
|  4|rakesh|   jaipur|  india|     Y|          2023-06-10|              null|
|  5| ayush|       NY| russia|     N|          2023-06-10|        2023-09-07|
|  5| ayush|    mosco| russia|     Y|          2023-09-07|              null|
|  6| rajat|   jaipur|  india|     Y|          2023-08-10|              null|
+---+------+---------+-------+------+--------------------+------------------+